# CAO Project
---

This notebook contains:
 -  An overview of how to load CAO points information from the CAO website
 -  Appropriate plots and other visualisations of the data
 
By examining the data from 2021 and 2020 I hope to examine the impacts the COVID-19 pandemic has had on the Leaving Certificate. As the last two years have seen a change in how the Leaving Certificate is examined it will be interesting to see if this has had an affect on the course points. As the data from the CAO are not synonymous for comparing the 2021 and 2020 data to the data from years previous I will group the 2021 and 2020 data together for analysis and then group 2019 to 2017 (inclusive) together for analysis. 

<!-- For the years 2019 to 2017 I will not be examining EOS and will be focusing on Mid instead. The data is patchy for EOS and there is not enough data to be examined in a meaningful way. The same stands for R2 points for 2021 and 2020 as the data for R2 points is also extremely patchy this will not be examined. -->

## Background on the CAO

The Central Applications Office (CAO), founded in January 1976, is the organisation responsible for overseeing undergraduate applications to colleges and universities in the Republic of Ireland<sup>1</sup>. 
Undergraduates apply for entry into university through the CAO website and not through individual universities. The CAO is a points based system, with students getting the highest points securing offers from universities.

### Leaving Certificate Points
The points obtained from the leaving certificate exam determine what course the student is eligible for. Points for higher and ordinary level shown below<sup>2</sup>.

***Higher Level Points***

| Higher Level Grade | Points |
| -- | -- |
| H1 | 100|
| H2 | 88 |
| H3 | 77 |
| H4 | 66 |
| H5 | 56 |
| H6 | 46 |
| H7 | 37 |
| H8 | 0 |

***Ordinary Level Points***

| Ordinary Level Grade | Points |
| -- | -- |
| O1 | 56 |
| O2 | 46 |
| O3 | 37 |
| O4 | 28 |
| O5 | 20 |
| O6 | 12 |
| O7 | 0 |
| O8 | 0 |

A students points are calculated based on their six best subjects for a maximum score of 625, if the student takes and passes higher level maths<sup>2</sup>.

In [1]:
!pwd

/Users/saidhbhfoley/Desktop/repo/CAO-points

In [2]:
!ls

CAO Points Analysis.ipynb    data
PyPlot.ipynb                 requirements.txt
README.md                    ~$O2019_20211113_105625.docx
Untitled.ipynb

In [3]:
# !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install --user

## CAO Points Analysis


------

### Importing the Required Libraries

In [4]:
# Regualar expressions
import re

# Convient HTTP requests
import requests as rq

# Dates and times
import datetime as dt

import os

# Data frames
import pandas as pd

# For downloading
import urllib.request as urlrq

# Nice plots
import seaborn as sns

# Numpy
import numpy as np

# Matplotlib
import matplotlib.pyplot as plt

### Saving the datasets

It is best practice to save the dataset each time the data is ran, this ensures if the data on the websites is changed then the dataset will reflect these changes. In order for each save to not overwrite the previous version datetime is used.

In [5]:
# Get current date and time
now = dt.datetime.now()

# Format as a string
nowstr = now.strftime('%Y%m%d_%H%M%S')

<br>

## Obtaining the Data for the CAO 2021 Points
-----

The [2021 course points](http://www2.cao.ie/points/l8.php) for level 8 courses.

```Resquests``` allows you to send HTTP/1.1 requests extremely easily<sup>3</sup>. ```resp``` is the response object from which we get all the information we need<sup>4</sup>. The HTTP ```<Respoonse [200]>``` success status response code indicates that the request has succeeded<sup>5</sup>.

In [6]:
# Use resp.text to see the text
resp = rq.get('http://www2.cao.ie/points/l8.php')

# peak
resp

In [7]:
# Create a filepath for the original data
# Always sort year, month, date
pathhtml= 'data/CAO2021_' + nowstr + '.html'

#### Error on Server

Technically, the server says we should decode as per:
> Content-Type: text/html; charset=iso-8859-1

However one line uses \x96 which isn't defined in iso-8859-1
Therefore we use the similar decoding standard cp1252.

utf-8 usual decode but since Irish uses fadas you must decode using iso-8859-1 so it's not written in utf-8. Inspect the webpage and then it shows you the source code and network. In network headers you can see that the character set used is iso-8859-1.

In [8]:
# Server uses wrong encoding
original_encoding = resp.encoding

# Change to cp1252
resp.encoding = 'cp1252'

In [9]:
# Save original html file
with open(pathhtml, 'w') as f:
    f.write(resp.text)

#### Regular Expressions

Regular expressions can be used to clean the dataset. These work by searching and matching using a sequence if characters that the user specifies. Regular expressions can be used to remove rows/spaces/whitespaces that are not required. Below is the regular expression used to clean this dataset.
```(r'([A-Z]{2}[0-9]{3})  (.*)')```
The first part of this code ```(r'(``` denotes a raw string, followed by ```[A-Z]{2}``` which means any two capital letters between A and Z, followed by ```[0-9]{3}``` which looks for 3 numbers between 0 and 9 immediately after the two letters and finally ```(.*)')``` this looks for a wildcard (an unknown number of any character).

In [10]:
#Compile the regular expression for matching lines
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)')

#### Creating the filepath

In [11]:
# The file path for the csv file.
path2021 = 'data/cao2021_csv_' + nowstr + '.csv'

In [12]:
# Keep track of how many courses we process.
no_lines=0

# Open the csv file for writing.
with open(path2021, 'w') as f:
    #Write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    for line in resp.iter_lines():
        dline = line.decode('cp1252')
        # Match only the lines we want - the ones representing courses.
        #if re.fullmatch('[A-Z]{2}[0-9]{3}  .*[0-9]{3}(\*)? *', line.decode('iso-8859-1')):
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            #print(line)
            #csv_version = re_course.sub(r'\1,\2,\3\4', dline)
            #print(csv_version)
            #linesplit = re.split('  +', dline)
            # debug
            #print(len(linesplit), linesplit, dline)
            course_code = dline[:5]
            #print(course_code)
            course_title = dline[7:57].strip()
            # Round one points
            course_points = re.split(' +', dline[60:])
            if len(course_points) !=2:
            #print(f"'{course_title}'")
                course_points = course_points[:2]
            # join fields using a comma
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            f.write(','.join(linesplit) + '\n')
            #print(','.join(linesplit))
            
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

<br>

**NB**: it was verified as of 13 Nov 2021 that there were 949 courses exactly in the CAO 2021 points list

In [13]:
header_list=['Code','Title', 'Points R1', 'Points R2']
df2021 = pd.read_csv(path2021, encoding='cp1252',names=header_list, skiprows=1)

In [14]:
df2021

,Code,Title,Points R1,Points R2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
944,WD211,Creative Computing,270,NaN
945,WD212,Recreation and Sport Management,262,NaN
946,WD230,Mechanical and Manufacturing Engineering,230,230
947,WD231,Early Childhood Care and Education,266,NaN
948,WD232,Business Information Systems,261,261

<br>

## Obtaining the Data for the CAO 2020 Points

The [CAO points for 2020](https://www.cao.ie/index.php?page=points&p=2020) level 8 courses.

----

The CAO website does not offer each years data in the same format the data for 2020 courses is only available in an excel spreadsheet. However due to the inbuilt excel reader in pandas this makes it easier for us to create a CSV file.

As with the 2021 data, first the data is saved using the timestamp.

In [15]:
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [16]:
pathxlsx = 'data/CAO2020_' + nowstr + '.xlsx'

In [17]:
urlrq.urlretrieve(url2020, pathxlsx)

('data/CAO2020_20211217_214812.xlsx',
 <http.client.HTTPMessage at 0x7ff70048f0d0>)

In [18]:
# Download and parse the excel
df2020 = pd.read_excel(url2020, skiprows = 10)

In [19]:
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df2020.describe()

,LEVEL,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
count,1464.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.639344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.595939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CATEGORY (i.e.ISCED description)  1464 non-null   object
 1   COURSE TITLE                      1464 non-null   object
 2   COURSE CODE2                      1464 non-null   object
 3   R1 POINTS                         1437 non-null   object
 4   R1 Random *                       59 non-null     object
 5   R2 POINTS                         333 non-null    object
 6   R2 Random*                        29 non-null     object
 7   EOS                               1448 non-null   object
 8   EOS Random *                      69 non-null     object
 9   EOS Mid-point                     1437 non-null   object
 10  LEVEL                             1464 non-null   int64
 11  HEI                               1464 non-null   object
 12  Test/Interview #                  127 non-null    object
 13  avp                               212 non-null    object
 14  v                                 12 non-null     object
 15  Column1                           0 non-null      float64
 16  Column2                           0 non-null      float64
 17  Column3                           0 non-null      float64
 18  Column4                           0 non-null      float64
 19  Column5                           0 non-null      float64
 20  Column6                           0 non-null      float64
 21  Column7                           0 non-null      float64
 22  Column8                           0 non-null      float64
dtypes: float64(8), int64(1), object(14)
memory usage: 263.2+ KB

In [22]:
# Spot check random row
df2020.iloc[753]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Road Transport Technology and Management
COURSE CODE2                                                           LC286
R1 POINTS                                                                264
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      264
EOS Random *                                                             NaN
EOS Mid-point                                                            360
LEVEL                                                                      7
HEI                                         Limerick Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 753, dtype: object

In [23]:
# Spot check last row
df2020.iloc[1463]
# can also use -1 to get the very last row, -2 second last row......

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [24]:
path2020 = 'data/CAO2020_' + nowstr + '.csv'

In [25]:
df2020.to_csv(path2020)

<br>

## Obtaining the Data for the CAO 2019 Points

The [CAO points for 2019](https://www.cao.ie/index.php?page=points&p=2019) for level 8 courses.

----

Again the data offered from the CAO site changes for 2019, for this year it's given in a pdf. This means the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

##### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '

In [26]:
df2019 = pd.read_csv('data/CAO2019_20211113_105625_edited.csv', sep='\t')

In [27]:
df2019

      Code                                              Title  EOS  Mid
0    AL801    Software Design with Virtual Reality and Gaming  304  328
1    AL802               Software Design with Cloud Computing  301  306
2    AL803  Software Design with Mobile Apps and Connected...  309  337
3    AL805        Network Management and Cloud Infrastructure  329  442
4    AL810                                 Quantity Surveying  307  349
..     ...                                                ...  ...  ...
925  WD200                                     Arts (options)  221  296
926  WD210                       Software Systems Development  271  329
927  WD211                                 Creative Computing  275  322
928  WD212                    Recreation and Sport Management  274  311
929  WD230           Mechanical and Manufacturing Engineering  273  348

[930 rows x 4 columns]

**Note**: As 2019 data does not offer Round 1 and Round 2 data this will make analysing the three dataframes less accurate.

<br>

## Obtaining the Data for the CAO 2018 Points

The [CAO points for 2018](https://www.cao.ie/index.php?page=points&p=2018) for level 8 courses.

----

Similar to 2019 the 2018 data were given in pdf format meaning the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

##### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '

In [28]:
df2018 = pd.read_csv('data/CAO2018_20211211_133605.csv', sep='\t')

In [29]:
df2018

       Code                                              Title   EOS    Mid
0    AL801   Software Design (Game Development or Cloud Com...  295   326.0
1    AL810                                 Quantity Surveying   300   340.0
2    AL820                 Mechanical and Polymer Engineering   299   371.0
3    AL830                                    General Nursing   418   440.0
4    AL832                                Psychiatric Nursing   377   388.0
..      ...                                                ...   ...    ...
898  WD197                             The Internet of Things   260   329.0
899  WD200                                               Arts   220   299.0
900  WD210                       Software Systems Development   289   327.0
901  WD211                                 Creative Computing   265   326.0
902  WD212                    Recreation and Sport Management   288   338.0

[903 rows x 4 columns]

<br>

## Obtaining the Data for the CAO 2017 Points

The [CAO points for 2017](https://www.cao.ie/index.php?page=points&p=2017) for level 8 courses.

----

Similar to 2019 and 2018 data, the 2017 data were given in pdf format meaning the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

##### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '
12. Updated header to Code and Title

**Note**: Final and EOS are the same according to the [Irish Times](https://www.independent.ie/life/family/learning/understanding-your-cao-course-guide-26505318.html). Therefore later on in the dataset Final will be changed to EOS for ease of analysis.

In [30]:
df2017 = pd.read_csv('data/CAO2017_20211211_14-50-35_edited.csv', sep='\t')

In [31]:
df2017

       Code                                              Title  Final    Mid
0    AL801   Software Design (Game Development or Cloud Com...   290   329.0
1    AL810                                 Quantity Surveying    311   357.0
2    AL820                 Mechanical and Polymer Engineering    300   336.0
3    AL830                                    General Nursing   398*   418.0
4    AL832                                Psychiatric Nursing    378   389.0
..      ...                                                ...    ...    ...
860  WD193                        Marketing and Digital Media    297   337.0
861  WD194                                      Culinary Arts    279   356.0
862  WD195   Architectural & Building Information Modelling...   273   320.0
863  WD197                             The Internet of Things    262   328.0
864  WD200                                               Arts    267   309.0

[865 rows x 4 columns]

<br>

## Concat and Join
***

Joining the codes and titles for each year. This is done by first creating a dataframe containing the code and title for each year, then joining all the years codes and titles together, removing any duplicates.

In [32]:
courses2021 = df2021[['Code', 'Title']]

In [33]:
courses2021

      Code                                              Title
0    AL801     Software Design for Virtual Reality and Gaming
1    AL802  Software Design in Artificial Intelligence for...
2    AL803  Software Design for Mobile Apps and Connected ...
3    AL805    Computer Engineering for Network Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
944  WD211                                 Creative Computing
945  WD212                    Recreation and Sport Management
946  WD230           Mechanical and Manufacturing Engineering
947  WD231                 Early Childhood Care and Education
948  WD232                       Business Information Systems

[949 rows x 2 columns]

In [34]:
courses2020 = df2020[['COURSE CODE2', 'COURSE TITLE']]
courses2020.columns = ['Code', 'Title']

In [35]:
courses2020

       Code                                              Title
0     AC120                             International Business
1     AC137                                       Liberal Arts
2     AD101   First Year Art & Design (Common Entry,portfolio)
3     AD102  Graphic Design and Moving Image Design (portfo...
4     AD103  Textile & Surface Design and Jewellery & Objec...
...     ...                                                ...
1459  WD208                          Manufacturing Engineering
1460  WD210                       Software Systems Development
1461  WD211                                 Creative Computing
1462  WD212                    Recreation and Sport Management
1463  WD230           Mechanical and Manufacturing Engineering

[1464 rows x 2 columns]

In [36]:
courses2019 = df2019[['Code', 'Title']]
courses2019

      Code                                              Title
0    AL801    Software Design with Virtual Reality and Gaming
1    AL802               Software Design with Cloud Computing
2    AL803  Software Design with Mobile Apps and Connected...
3    AL805        Network Management and Cloud Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
925  WD200                                     Arts (options)
926  WD210                       Software Systems Development
927  WD211                                 Creative Computing
928  WD212                    Recreation and Sport Management
929  WD230           Mechanical and Manufacturing Engineering

[930 rows x 2 columns]

In [37]:
courses2018 = df2018[['Code', 'Title']]
courses2018

       Code                                              Title
0    AL801   Software Design (Game Development or Cloud Com...
1    AL810                                 Quantity Surveying
2    AL820                 Mechanical and Polymer Engineering
3    AL830                                    General Nursing
4    AL832                                Psychiatric Nursing
..      ...                                                ...
898  WD197                             The Internet of Things
899  WD200                                               Arts
900  WD210                       Software Systems Development
901  WD211                                 Creative Computing
902  WD212                    Recreation and Sport Management

[903 rows x 2 columns]

In [38]:
courses2017 = df2017[['Code', 'Title']]
courses2017

       Code                                              Title
0    AL801   Software Design (Game Development or Cloud Com...
1    AL810                                 Quantity Surveying
2    AL820                 Mechanical and Polymer Engineering
3    AL830                                    General Nursing
4    AL832                                Psychiatric Nursing
..      ...                                                ...
860  WD193                        Marketing and Digital Media
861  WD194                                      Culinary Arts
862  WD195   Architectural & Building Information Modelling...
863  WD197                             The Internet of Things
864  WD200                                               Arts

[865 rows x 2 columns]

In [39]:
allcourses = pd.concat([courses2021, courses2020, courses2019, courses2018, courses2017], ignore_index=True)

allcourses

        Code                                              Title
0      AL801     Software Design for Virtual Reality and Gaming
1      AL802  Software Design in Artificial Intelligence for...
2      AL803  Software Design for Mobile Apps and Connected ...
3      AL805    Computer Engineering for Network Infrastructure
4      AL810                                 Quantity Surveying
...      ...                                                ...
5106  WD193                        Marketing and Digital Media
5107  WD194                                      Culinary Arts
5108  WD195   Architectural & Building Information Modelling...
5109  WD197                             The Internet of Things
5110  WD200                                               Arts

[5111 rows x 2 columns]

In [40]:
# allcourses.reset_index()

In [41]:
allcourses.sort_values('Code')

        Code                                     Title
175    AC120                    International Business
949    AC120                    International Business
2581   AC120                    International Business
4399  AC120                    International Business
3498  AC120                    International Business
...      ...                                       ...
3342   WD230  Mechanical and Manufacturing Engineering
2412   WD230  Mechanical and Manufacturing Engineering
946    WD230  Mechanical and Manufacturing Engineering
947    WD231        Early Childhood Care and Education
948    WD232              Business Information Systems

[5111 rows x 2 columns]

In [42]:
#allcourses.loc[175]['Title']

In [43]:
#allcourses.loc[949]['Title']

In [44]:
# Finds all extra copies of duplicated rows
#allcourses[allcourses.duplicated()]

In [45]:
# Dataframe with duplicates removed
#allcourses.drop_duplicates()

In [46]:
# Finds all extra copies of duplicated rows
allcourses[allcourses.duplicated(subset=['Code'])]

        Code                                              Title
949    AC120                             International Business
950    AC137                                       Liberal Arts
951    AD101   First Year Art & Design (Common Entry,portfolio)
952    AD102  Graphic Design and Moving Image Design (portfo...
953    AD103  Textile & Surface Design and Jewellery & Objec...
...      ...                                                ...
5106  WD193                        Marketing and Digital Media
5107  WD194                                      Culinary Arts
5108  WD195   Architectural & Building Information Modelling...
5109  WD197                             The Internet of Things
5110  WD200                                               Arts

[2522 rows x 2 columns]

In [47]:
# Dataframe with duplicates removed - based only on code
allcourses.drop_duplicates(subset=['Code'], inplace=True, ignore_index=True)

In [48]:
allcourses.set_index('Code', inplace=True)

In [49]:
allcourses

                                                    Title
Code
AL801      Software Design for Virtual Reality and Gaming
AL802   Software Design in Artificial Intelligence for...
AL803   Software Design for Mobile Apps and Connected ...
AL805     Computer Engineering for Network Infrastructure
AL810                                  Quantity Surveying
...                                                   ...
WD124                                   Health Promotion
WD125                        Exercise and Health Studies
WD160                             Finance and Investment
WD171                     Sustainable Energy Engineering
WD180                      Physics for Modern Technology

[2589 rows x 1 columns]

<br>

### Join to the Points
-----
After each years course code and title have been integrated the points for each of the years are then joined to create the dataset I will analyse.

In [50]:
# Set index to code column
df2021.set_index('Code', inplace=True)
df2021.columns = ['Title','points_R1_2021','points_R2_2021']
df2021

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD211,Creative Computing,270,NaN
WD212,Recreation and Sport Management,262,NaN
WD230,Mechanical and Manufacturing Engineering,230,230
WD231,Early Childhood Care and Education,266,NaN
WD232,Business Information Systems,261,261

In [51]:
allcourses = allcourses.join(df2021[['points_R1_2021','points_R2_2021']])
allcourses

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD124,Health Promotion,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN
WD160,Finance and Investment,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN

In [52]:
df2020_r1 = df2020[['COURSE CODE2', 'R1 POINTS','R2 POINTS']]
df2020_r1.columns = ['Code', 'points_R1_2020', 'points_R2_2020']
df2020_r1

       Code points_R1_2020 points_R2_2020
0     AC120            209            NaN
1     AC137            252            NaN
2     AD101       #+matric            NaN
3     AD102       #+matric            NaN
4     AD103       #+matric            NaN
...     ...            ...            ...
1459  WD208            188            NaN
1460  WD210            279            NaN
1461  WD211            271            NaN
1462  WD212            270            NaN
1463  WD230            253            NaN

[1464 rows x 3 columns]

In [53]:
df2020_r1.set_index('Code', inplace=True)
df2020_r1

      points_R1_2020 points_R2_2020
Code
AC120            209            NaN
AC137            252            NaN
AD101       #+matric            NaN
AD102       #+matric            NaN
AD103       #+matric            NaN
...              ...            ...
WD208            188            NaN
WD210            279            NaN
WD211            271            NaN
WD212            270            NaN
WD230            253            NaN

[1464 rows x 2 columns]

In [54]:
allcourses = allcourses.join(df2020_r1)
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020
Code,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN
AL810,Quantity Surveying,328,NaN,319,NaN
...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN

In [55]:
df2019.set_index('Code', inplace=True)
df2019.columns = ['Title','EOS_2019','Mid_2019']
df2019

                                                   Title EOS_2019 Mid_2019
Code
AL801    Software Design with Virtual Reality and Gaming      304      328
AL802               Software Design with Cloud Computing      301      306
AL803  Software Design with Mobile Apps and Connected...      309      337
AL805        Network Management and Cloud Infrastructure      329      442
AL810                                 Quantity Surveying      307      349
...                                                  ...      ...      ...
WD200                                     Arts (options)      221      296
WD210                       Software Systems Development      271      329
WD211                                 Creative Computing      275      322
WD212                    Recreation and Sport Management      274      311
WD230           Mechanical and Manufacturing Engineering      273      348

[930 rows x 3 columns]

In [56]:
allcourses=allcourses.join(df2019[['EOS_2019','Mid_2019']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019
Code,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442
AL810,Quantity Surveying,328,NaN,319,NaN,307,349
...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df2018.set_index('Code', inplace=True)
df2018.columns = ['Title','EOS_2018','Mid_2018']
df2018

                                                    Title EOS_2018  Mid_2018
Code
AL801   Software Design (Game Development or Cloud Com...     295      326.0
AL810                                 Quantity Surveying      300      340.0
AL820                 Mechanical and Polymer Engineering      299      371.0
AL830                                    General Nursing      418      440.0
AL832                                Psychiatric Nursing      377      388.0
...                                                   ...      ...       ...
WD197                             The Internet of Things      260      329.0
WD200                                               Arts      220      299.0
WD210                       Software Systems Development      289      327.0
WD211                                 Creative Computing      265      326.0
WD212                    Recreation and Sport Management      288      338.0

[903 rows x 3 columns]

In [58]:
allcourses=allcourses.join(df2018[['EOS_2018','Mid_2018']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019,EOS_2018,Mid_2018
Code,,,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328,NaN,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306,NaN,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337,NaN,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442,NaN,NaN
AL810,Quantity Surveying,328,NaN,319,NaN,307,349,NaN,NaN
...,...,...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df2017.set_index('Code', inplace=True)
df2017.columns = ['Title','EOS_2017','Mid_2017']
df2017

                                                    Title EOS_2017  Mid_2017
Code
AL801   Software Design (Game Development or Cloud Com...     290      329.0
AL810                                 Quantity Surveying      311      357.0
AL820                 Mechanical and Polymer Engineering      300      336.0
AL830                                    General Nursing     398*      418.0
AL832                                Psychiatric Nursing      378      389.0
...                                                   ...      ...       ...
WD193                        Marketing and Digital Media      297      337.0
WD194                                      Culinary Arts      279      356.0
WD195   Architectural & Building Information Modelling...     273      320.0
WD197                             The Internet of Things      262      328.0
WD200                                               Arts      267      309.0

[865 rows x 3 columns]

In [60]:
allcourses=allcourses.join(df2017[['EOS_2017','Mid_2017']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019,EOS_2018,Mid_2018,EOS_2017,Mid_2017
Code,,,,,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328,NaN,NaN,NaN,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306,NaN,NaN,NaN,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337,NaN,NaN,NaN,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442,NaN,NaN,NaN,NaN
AL810,Quantity Surveying,328,NaN,319,NaN,307,349,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,296,347.0
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273,316.0
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310,390.0
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234,347.0
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,374,488.0

## Examining the Dataset
***

Before analysing the data it is important to first examine the data. First I will use value_counts() to display the unique counts, i.e. how many courses required the same amount of points to gain entry into that course. Then I will use df.describe() to summarise the general stats of each year. Finally I will use df.info() to get information on the dataframe such as the dtype, and information on the NaN values.

### 2021 Data

In [61]:
allcourses['points_R1_2021'].value_counts()

300     18
270     15
309     13
308     11
262     10
        ..
#741     1
274      1
248      1
#644     1
237      1
Name: points_R1_2021, Length: 377, dtype: int64

In [62]:
df2021.describe()

           Title points_R1_2021 points_R2_2021
count        949            928            258
unique       709            377            180
top     Business            300           613*
freq          12             18              5

In [63]:
df2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 949 entries, AL801 to WD232
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           949 non-null    object
 1   points_R1_2021  928 non-null    object
 2   points_R2_2021  258 non-null    object
dtypes: object(3)
memory usage: 61.9+ KB

In [64]:
allcourses['points_R1_2020'].value_counts()

AQA    26
300    26
280    18
270    18
260    16
       ..
502     1
728     1
312     1
375     1
222     1
Name: points_R1_2020, Length: 389, dtype: int64

### 2020 Dataset

In [65]:
df2020.describe()

,LEVEL,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
count,1464.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.639344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.595939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CATEGORY (i.e.ISCED description)  1464 non-null   object
 1   COURSE TITLE                      1464 non-null   object
 2   COURSE CODE2                      1464 non-null   object
 3   R1 POINTS                         1437 non-null   object
 4   R1 Random *                       59 non-null     object
 5   R2 POINTS                         333 non-null    object
 6   R2 Random*                        29 non-null     object
 7   EOS                               1448 non-null   object
 8   EOS Random *                      69 non-null     object
 9   EOS Mid-point                     1437 non-null   object
 10  LEVEL                             1464 non-null   int64
 11  HEI                               1464 non-null   object
 12  Test/Interview #                  127 non-null    object
 13  avp                               212 non-null    object
 14  v                                 12 non-null     object
 15  Column1                           0 non-null      float64
 16  Column2                           0 non-null      float64
 17  Column3                           0 non-null      float64
 18  Column4                           0 non-null      float64
 19  Column5                           0 non-null      float64
 20  Column6                           0 non-null      float64
 21  Column7                           0 non-null      float64
 22  Column8                           0 non-null      float64
dtypes: float64(8), int64(1), object(14)
memory usage: 263.2+ KB

We are only choosing R1 for 2020 and 2021 the reason being there are less non-null values compared to the total number of values especially for 2020 <1/3 are values.

### 2019 Dataset

In [67]:
allcourses['Mid_2019'].value_counts()

543    14
388    13
338    13
466    12
487    11
       ..
412     1
452     1
579     1
522     1
294     1
Name: Mid_2019, Length: 278, dtype: int64

In [68]:
df2019.describe()

                         Title EOS_2019 Mid_2019
count                      930      926      915
unique                     719      357      278
top     Accounting and Finance      300      543
freq                        11       32       14

In [69]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, AL801 to WD230
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     930 non-null    object
 1   EOS_2019  926 non-null    object
 2   Mid_2019  915 non-null    object
dtypes: object(3)
memory usage: 61.4+ KB

### 2018 Dataset

In [70]:
df2018.describe()

          Mid_2018
count   875.000000
mean    422.273143
std     127.488725
min      56.000000
25%     338.000000
50%     392.000000
75%     476.000000
max    1045.000000

In [71]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, AL801  to WD212
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     903 non-null    object
 1   EOS_2018  891 non-null    object
 2   Mid_2018  875 non-null    float64
dtypes: float64(1), object(2)
memory usage: 60.5+ KB

In [72]:
allcourses['Mid_2018'].value_counts()

347.0    14
357.0    13
388.0    13
473.0    13
462.0    11
         ..
836.0     1
545.0     1
463.0     1
643.0     1
379.0     1
Name: Mid_2018, Length: 255, dtype: int64

### 2017 Dataset

In [73]:
df2017.describe()

          Mid_2017
count   847.000000
mean    425.227863
std     128.648223
min      57.000000
25%     339.000000
50%     399.000000
75%     478.000000
max    1068.000000

In [74]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 865 entries, AL801  to WD200
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     865 non-null    object
 1   EOS_2017  855 non-null    object
 2   Mid_2017  847 non-null    float64
dtypes: float64(1), object(2)
memory usage: 59.3+ KB

In [75]:
df2021.Title.unique()

array(['Software Design for Virtual Reality and Gaming',
       'Software Design in Artificial Intelligence for Clo',
       'Software Design for Mobile Apps and Connected Devi',
       'Computer Engineering for Network Infrastructure',
       'Quantity Surveying', 'Civil Engineering',
       'Mechanical and Polymer Engineering', 'General Nursing',
       'Mental Health Nursing', 'Pharmacology',
       'Nutrition and Health Science',
       'Sports Science with Exercise Physiology', 'Biotechnology',
       'Microbiology', 'Pharmaceutical Sciences',
       'Athletic and Rehabilitation Therapy', 'Bioveterinary Science',
       'Physical Activity and Health Science',
       'Culinary Entrepreneurship', 'Business', 'Business and Law',
       'Accounting', 'Sport Management (with international placement)',
       'Hospitality Management (with international placeme',
       'Digital Marketing', 'International Business',
       'Social Care Practice', 'Animation and Illustration (portfolio)',
       'Graphic and Digital Design (portfolio)',
       'Early Years Care and Education', 'Applied Psychology',
       'Business (options)', 'Early Childhood Education and Care',
       'Art (portfolio)', 'Tourism and Event Management',
       'Applied Social Studies in Professional Social Care',
       'Sustainable Farm Management and Agribusiness',
       'Visual Communications and Design', 'Science (options)',
       'Brewing and Distilling', 'Sport and Exercise Science',
       'Strength and Conditioning',
       'Sport Rehabilitation and Athletic Therapy',
       'Computer Games Development', 'Software Development',
       'Information Technology Management', 'Cybercrime and IT Security',
       'Computing in Interactive Digital Art and Design',
       'Construction (options)', 'Architectural Technology',
       'Mechanical Engineering', 'Electronic Systems',
       'Aerospace Engineering', 'TV and Media Production', 'Law - LLB',
       'Product Design Innovation', 'Professional Social Care Practice',
       'Media and Public Relations', 'Digital Marketing with Analytics',
       'Sports Management and Coaching (options  portfolio',
       'Business with Law', 'Social  Political and Community Studies',
       'Arts and Humanities (fulfils Teaching Council requ',
       'English and History (fulfils Teaching Council requ',
       'Chemical and Biopharmaceutical Engineering',
       'Structural Engineering',
       'Automotive Business Management and Technology',
       'Creative Digital Media at CIT Crawford College of',
       'Computer Systems', 'Music at CIT Cork School of Music',
       'Popular Music at CIT Cork School of Music',
       'Musical Theatre at CIT Cork School of Music',
       'Business Information Systems',
       'Contemporary Applied Art (Ceramics  Glass  Textile',
       'Fine Art at CIT Crawford College of Art and Design',
       'Photography with New Media at CIT Crawford College',
       'Physical Sciences (Common Entry)', 'IT Management',
       'Biomedical Science - Offered jointly by CIT and UC',
       'Pharmaceutical Biotechnology',
       'Biological Sciences (Common Entry)',
       'Analytical Chemistry with Quality Assurance',
       'Instrument Engineering',
       'Environmental Science and Sustainable Technology',
       'Agri-Biosciences', 'Marketing',
       'International Business with Language',
       'Sport and Exercise Management',
       'Coaching Science and Sports Pedagogy', 'Montessori Education',
       'Engineering (Common Entry)', 'Sustainable Energy Engineering',
       'Biomedical Engineering', 'Interior Architecture',
       'Construction Management', 'Electrical Engineering',
       'Electronic Engineering',
       'Visual Communications at CIT Crawford College of A',
       'Tourism Management',
       'Theatre and Drama Studies at CIT Cork School of Mu',
       'Home Economics and Business', 'Arts - 3 years', 'Social Science',
       'Arts with Music - 3 or 4 years (BMus or Chinese/Eu',
       'Film and Screen Media - 3 years or 4 years (Intern',
       'Geographical and Archaeological Sciences - 3 or 4',
       'Arts International - 4 years',
       'English - 3 years or 4 years (International Pathwa',
       'World Languages', 'Early Years and Childhood Studies',
       'Theatre and Performative Practices - 3 or 4 years',
       'Criminology - 3 years or 4 years (International Pa',
       'Social Science (Youth and Community Work)',
       'Social Work - Mature Applicants only',
       'Digital Humanities and IT - 3 or 4 years (Work Exp',
       'Psychology and Computing - 3 or 4 years (Work Expe',
       'Government and Political Science', 'Anthropology',
       'Education - Gaeilge', 'Sports Studies and Physical Education',
       'Commerce', 'Finance', 'Commerce (International) with French',
       'Commerce (International) with German',
       'Commerce (International) with Italian',
       'Commerce (International) with Hispanic Studies',
       'Commerce (International) with Irish',
       'Commerce (International) with Chinese Studies',
       'Economics (through Transformational Learning) 3 or',
       'Food Marketing and Entrepreneurship', 'International Development',
       'Law (Pathways) -  3 or 4 years', 'Law and French',
       'Law and Irish', 'Law and Business', 'Computer Science',
       'Biological and Chemical Sciences',
       'Biological  Earth and Environmental Sciences', 'Genetics',
       'Chemical Sciences', 'Mathematical Sciences',
       'Physics and Astrophysics',
       'Industrial Physics - Offered jointly by UCC and CI',
       'Data Science and Analytics', 'Agricultural Science',
       'Nutritional Sciences', 'Food Science', 'Engineering',
       'Architecture - Offered jointly by UCC and CIT',
       'Medicine (Undergraduate Entry - HPAT required)', 'Dentistry',
       'Pharmacy', 'Occupational Therapy', 'Speech and Language Therapy',
       'Public Health Sciences', 'Medical and Health Sciences',
       'Children`s and General Nursing (Integrated)',
       'Intellectual Disability Nursing', 'Midwifery',
       'Medicine  - Graduate Entry (GAMSAT required)', 'Liberal Arts',
       'Computing and IT', 'Education - Primary Teaching',
       'Education - Primary Teaching - Gaeltacht Applicant',
       'Oideachas â€“ BunmhÃºinteoireacht TrÃ\xad MheÃ¡n na Gaeilg',
       'Oideachas - BunmhÃºinteoireacht TrÃ\xad MheÃ¡n na Gaeilg',
       'Education Studies', 'Early Childhood Education', 'Computing',
       'Computing (Cloud Computing)',
       'Computing (Data Analytics and Big Data)',
       'Computing (Software Development)',
       'Computing (Web and Mobile Technology)',
       'Audio Production and Music Project Management',
       'Business Studies', 'Business Studies (Law)',
       'Business Studies (Human Resource Management)',
       'Marketing (Event Management)', 'Marketing (Digital Media)',
       'Accounting and Finance', 'Business (Information Systems)',
       'Marketing (Digital Media and Cloud Computing)',
       'Business (Cloud Computing)', 'Applied Social Care', 'Psychology',
       'Film and Creative Media', 'Law', 'Business (Psychology)',
       'Education - Early Childhood Education',
       'Education - Primary Teaching (Church of Ireland Ce',
       'Arts (Joint Honours) - Humanities',
       'Post Primary Teacher Education - Religious Educati',
       'Post Primary Teacher Ed - Gaeilge with French/Germ',
       'BA in Jazz and Contemporary Music Performance (aud',
       'Business Studies International', 'Global Business (France)',
       'Global Business (Germany)', 'Global Business (Spain)',
       'Global Business (USA)',
       'Aviation Management / Aviation Management with Pil',
       'GnÃ¡ agus Gaeilge / Business and Irish',
       'Global Business (Canada)', 'Computing for Business',
       'Data Science', 'Actuarial Mathematics',
       'Common Entry into Actuarial and Financial Mathemat',
       'Communication Studies', 'Journalism', 'Multimedia',
       'Applied Language and Translation Studies', 'Analytical Science',
       'Chemical and Pharmaceutical Sciences',
       'Chemical Sciences General Entry (Undenominated Ent',
       'Environmental Science and Technology',
       'Genetics and Cell Biology', 'Physics General Entry (options)',
       'Biological Sciences General Entry (Undenominated E',
       'Electronic and Computer Engineering (with choice o',
       'Mechatronic Engineering', 'Sustainable Systems and Energy',
       'Mechanical and Manufacturing Engineering',
       'Common Entry into Engineering (Undenominated Entry',
       'Sport Science and Health', 'Science Education',
       'Athletic Therapy and Training', 'Physical Education with Biology',
       'Physical Education with Mathematics',
       'Psychology and Mathematics', 'Health and Society',
       'Psychology and Disruptive Technologies',
       'Economics  Politics and Law', 'International Relations',
       'Law and Society (BCL)',
       'Education and Training - Daytime and Flexible Deli',
       'Social Sciences and Cultural Innovation',
       'Marketing  Innovation and Technology',
       'Digital Business and Innovation',
       'Arts (Joint Honours) - Media Studies',
       'Arts (Joint Honours) - Law',
       'Arts (Joint Honours) - International Languages',
       'Climate and Environmental Sustainability',
       'Arts (Joint Honours) - Politics', 'Arts Management',
       'Business Management', 'Graphic Design', 'Art', 'Animation',
       'Photography and Visual Media', 'Creative Computing',
       'New Media Studies', 'Creative Music Production',
       'Interaction and User Experience Design',
       'English and Equality Studies', 'Film', 'Television',
       'Design for Film (degree options)', 'Computing Science',
       'Business - HRM', 'Business (Marketing)', 'Business (HRM)',
       'Communications and Media Production',
       'Design Communication (portfolio)',
       'Interior Architecture (portfolio)', 'Fashion Design (portfolio)',
       'First Year Art and Design (Common Entry portfolio)',
       'Graphic Design and Moving Image Design (portfolio)',
       'Textile and Surface Design and Jewellery and Objec',
       'Education and Design or Fine Art (Second Level Tea',
       'Fine Art (portfolio)', 'Product Design (portfolio)',
       'Visual Culture', 'Illustration (portfolio)',
       'Interaction Design (portfolio)',
       'Computing (Degree Award options)', 'Human Resource Management',
       'Marketing Practice',
       'Technology Management (with specialisations)',
       'Medicine - Undergraduate Entry (HPAT required)', 'Physiotherapy',
       'Medicine - Graduate Entry (GAMSAT required)',
       'Electrical Services and Energy Management',
       'Engineering (Common Entry with Award options)',
       'Engineering (General Entry)',
       'Computer Engineering in Mobile Systems', 'Product Design',
       'Design Technology and Innovation',
       'Sustainable Transport Management',
       'Mechanical Engineering (General Entry)',
       'Electronic Engineering (General Entry)',
       'Architecture (Suitability Test and Interview)',
       'Geographic Science', 'Planning and Environmental Management',
       'Property Economics (Valuation Surveying)',
       'Quantity Surveying and Construction Economics',
       'Sustainable Timber Technology',
       'Analytical Chemistry (Environmental  Forensic and',
       'Chemical Sciences with Medicinal Chemistry',
       'Science (General Entry)', 'Science with Nanotechnology',
       'Computer Science (Infrastructure)',
       'Computer Science (International)',
       'Computing (Information Technology)',
       'Computing with Language (French/German/Spanish)',
       'Computing with Artificial Intelligence Machine Lea',
       'Digital Forensics and Cyber Security',
       'DNA and Forensic Analysis', 'Cloud Computing',
       'Biomedical and Molecular Diagnostics', 'Biomedical Science',
       'Clinical Measurement Science', 'Environmental Health',
       'Human Nutrition and Dietetics', 'Optometry',
       'Public Health Nutrition', 'Pharmaceutical Healthcare',
       'Pharmaceutical Science', 'Physics Technology',
       'Physics with Energy and Environment',
       'Physics with Medical Physics and Bioengineering',
       'Physics with Data Science', 'Food Innovation',
       'Nutraceuticals in Health and Nutrition',
       'Business and Management', 'Economics and Finance',
       'Logistics and Supply Chain Management', 'Business Analytics',
       'Business Computing', 'Law (LLB ) with a Language', 'Law (LLB)',
       'Advertising and Marketing Communications',
       'Digital Marketing Technologies', 'E-Commerce in Retailing',
       'Retail and Services Management',
       'Accounting and Finance (campus options)',
       'Sports Management and Coaching', 'Sports Science and Health',
       'Botanical Cuisine', 'Culinary Arts', 'Culinary Science',
       'International Hospitality and Tourism Management',
       'International Hospitality Management',
       'Tourism and Digital Marketing', 'Event Management',
       'Sports and Leisure Management',
       'Commercial Modern Music (BIMM - assessment/auditio',
       'Drama (Performance  audition)', 'Music (audition)',
       'International Business and Languages',
       'Languages and International Tourism',
       'Design - Visual Communication (portfolio)',
       'Interior Design (portfolio)', 'Photography (portfolio)',
       'Creative Industries and Visual Culture', 'Creative Digital Media',
       'Media Production and Digital Arts', 'Film and Broadcasting',
       'Game Design',
       'Early Childhood Care and Education (campus options',
       'Applied Social Studies in Social Care',
       'Community Development and Youth Work', 'Social Care', 'Music',
       'History', 'Philosophy', 'Clinical Speech and Language Studies',
       'Music Education',
       'Philosophy  Political Science  Economics and Socio',
       'Deaf Studies', 'Law and German',
       'Classics  Ancient History and Archaeology',
       'Early and Modern Irish', 'English Studies', 'European Studies',
       'Drama and Theatre Studies',
       'Ancient and Medieval History and Culture', 'Mathematics',
       'Management Science and Information Systems Studies',
       'Theoretical Physics', 'Engineering with Management',
       'Computer Science  Linguistics and a Language',
       'Middle Eastern and European Languages and Cultures', 'Religion',
       'History of Art and Architecture', 'Medicine (HPAT required)',
       'Dental Science', 'Radiation Therapy', 'Human Health and Disease',
       'Biological and Biomedical Sciences', 'Geography and Geoscience',
       'Physical Sciences', 'Environmental Science and Engineering',
       'Global Business', 'Business  Economic and Social Studies (BESS)',
       'Social Studies (Social Work)', 'Business Studies and French',
       'Business Studies and German', 'Business Studies and Russian',
       'Business Studies and Polish', 'Business Studies and Spanish',
       'General Nursing (Meath and St James`s)',
       'General Nursing (Adelaide School of Nursing)', 'Architecture',
       'Landscape Architecture', 'City Planning and Environmental Policy',
       'Computer Science (Common Entry)',
       'Actuarial and Financial Studies', 'Sustainability',
       'Agricultural Science (options)', 'Human Nutrition',
       'Veterinary Medicine - Undergraduate Entry',
       'Veterinary Medicine - Graduate Entry (GAMSAT requi',
       'Veterinary Nursing', 'Radiography',
       'Radiography - Graduate Entry', 'Health and Performance Science',
       'Biomedical  Health and Life Sciences', 'Joint Honours (options)',
       'Humanities (options)', 'Modern Languages (options)',
       'Law (options)', 'Commerce International (options)',
       'Social Sciences (options)', 'Economics',
       'Social Policy and Sociology', 'Computing in Games Development',
       'Computing in Software Development',
       'Augmented and Virtual Reality', 'Building Surveying',
       'Electrical and Electronic Engineering',
       'International Tourism Management', 'Arts', 'Creative Media',
       'Film and Television Production', 'Audio and Music Production',
       'Early Childhood Studies', 'Health and Physical Activity',
       'Agriculture (Award options)', 'Science (Award options)',
       'Sustainable Agriculture', 'Agri-Food Production',
       'Biopharmaceutical Science', 'Environmental Science',
       'Marketing and Sales', 'Finance and Economics',
       'Business with Entrepreneurship',
       'Rural Enterprise and Agri-Business', 'Film and Documentary',
       'Heritage Studies', 'Contemporary Art (portfolio)', 'Design',
       'Education (Art  Design and Graphics)',
       'International Hotel Management',
       'Culinary and Gastronomic Science',
       'Event Management with Public Relations',
       'Software and Electronic Engineering', 'Energy Engineering',
       'Agricultural Engineering',
       'Engineering Common Entry to Manu/Agri/Biomed/Energ',
       'Manufacturing Engineering Design',
       'Applied Freshwater and Marine Biology',
       'Applied Biology and Biopharmaceutical Science',
       'Chemical and Pharmaceutical Science',
       'Physics and Instrumentation', 'Science (Undenominated)',
       'Medical Science', 'Forensic Science and Analysis',
       'Computing and Digital Media',
       'Agriculture and Environmental Management', 'Psychiatric Nursing',
       'Outdoor Education', 'History and Geography',
       'Geography and Outdoor Education',
       'Community Development and Youth Work (Level 8)',
       'Education (Design Graphics and Construction)',
       'Furniture Design and Manufacture',
       'Furniture Making and Architectural Woodworking',
       'Furniture and Digital Manufacturing',
       'Furniture Design  Making and Technology - Common E',
       'Arts (Joint-Honours)', 'BSc (Psychology)', 'Arts (History)',
       'Arts (Mathematics and Education)',
       'Arts (Children and Youth Studies - options)',
       'Arts (English and Creative Writing)', 'Arts with Human Rights',
       'Arts with Performing Arts Studies',
       'Arts (Drama  Theatre and Performance Studies)',
       'Arts (Journalism)', 'Na DÃ¡na (CumarsÃ¡id agus Gaeilge)',
       'Applied Social Sciences', 'Arts (Digital Arts and Technology)',
       'Arts (Film and Digital Media)', 'Arts (Global Languages)',
       'Arts (Global Experience)', 'Arts (Music)',
       'Government (Politics  Economics and Law)',
       'Education (Computer Science and Mathematical Studi',
       'Geography and Geosystems', 'Arts (Global Media)',
       'Na DÃ¡na (LÃ©ann Teanga - options)',
       'Commerce (International) with Spanish',
       'Business Information Systems (Work Placement and O',
       'Commerce (Accounting) including optional Global Ex',
       'Commerce (Gaeilge)', 'Commerce (Global Experience)', 'Law (BCL)',
       'Law (BCL) and Human Rights', 'Law and Taxation',
       'Law (BCL)  Criminology and Criminal Justice',
       'Business Studies in International Hotel Management',
       'Commerce in International Hotel Management (interv', 'Science',
       'Financial Mathematics and Economics', 'Marine Science',
       'Environmental Health and Safety', 'Earth and Ocean Sciences',
       'Biopharmaceutical Chemistry', 'Mathematical Science',
       'Physics (Degree options: Applied Astrophysics Biom',
       'Genetics and Genomics', 'Agricultural Sciences',
       'Computer Science and Information Technology',
       'Engineering (Undenominated)',
       'Electronic and Computer Engineering',
       'Project and Construction Management',
       'Energy Systems Engineering',
       'Medicine (five year/six year course  HPAT required',
       'Podiatric Medicine', 'General Nursing (Galway and Portiuncula)',

In [80]:
df2021.Title.unique() == df2020['COURSE TITLE'].unique()

/var/folders/51/_5_9h43n1rj7z1sw9wk7030m0000gn/T/ipykernel_49201/756303533.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df2021.Title.unique() == df2020['COURSE TITLE'].unique()

False

In [76]:
allcourses['Mid_2017'].value_counts()

347.0    14
357.0    13
476.0    12
337.0    11
430.0    11
         ..
852.0     1
369.0     1
862.0     1
503.0     1
400.0     1
Name: Mid_2017, Length: 256, dtype: int64

In [81]:
len(df2021.Title.unique())

709

In [83]:
len(df2020['COURSE TITLE'].unique())

956

On analysis it was found there more unique courses in 2020 than in 2021. Courses removed/merged together

In [86]:
df2021['points_R1_2021'].to_frame()

      points_R1_2021
Code
AL801            300
AL802            313
AL803            350
AL805            321
AL810            328
...              ...
WD211            270
WD212            262
WD230            230
WD231            266
WD232            261

[949 rows x 1 columns]

<br>

## Plotting the Data
***

# References
<sup>1</sup>[Central Applications Office](https://en.wikipedia.org/wiki/Central_Applications_Office)  
<sup>2</sup>[Irish Leaving Certificate Examination Points](https://www.cao.ie/index.php?page=scoring&s=lcepointsgrid)  
<sup>3</sup>[Requests:HTTP for Humans](https://docs.python-requests.org/en/latest/)  
<sup>4</sup>[Requests:Quickstart](https://docs.python-requests.org/en/latest/user/quickstart/)  
<sup>5</sup>[200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)