# CAO Project
---

This notebook contains:
 -  An overview of how to load CAO points information from the CAO website
 -  Appropriate plots and other visualisations of the data
 
By examining the data from 2021 and 2020 I hope to examine the impacts the COVID-19 pandemic has had on the Leaving Certificate. As the last two years have seen a change in how the Leaving Certificate is examined it will be interesting to see if this has had an affect on the course points. As the data from the CAO are not synonymous for comparing the 2021 and 2020 data to the data from years previous I will group the 2021 and 2020 data together for analysis and then group 2019 to 2017 (inclusive) together for analysis. 

<!-- For the years 2019 to 2017 I will not be examining EOS and will be focusing on Mid instead. The data is patchy for EOS and there is not enough data to be examined in a meaningful way. The same stands for R2 points for 2021 and 2020 as the data for R2 points is also extremely patchy this will not be examined. -->

## Background on the CAO
___

The Central Applications Office (CAO), founded in January 1976, is the organisation responsible for overseeing undergraduate applications to colleges and universities in the Republic of Ireland<sup>1</sup>. 
Undergraduates apply for entry into university through the CAO website and not through individual universities. The CAO is a points based system, with students getting the highest points securing offers from universities.

### Leaving Certificate Points
The points obtained from the leaving certificate exam determine what course the student is eligible for. Points for higher and ordinary level shown below<sup>2</sup>.

***Higher Level Points***

| Higher Level Grade | Points |
| -- | -- |
| H1 | 100|
| H2 | 88 |
| H3 | 77 |
| H4 | 66 |
| H5 | 56 |
| H6 | 46 |
| H7 | 37 |
| H8 | 0 |

***Ordinary Level Points***

| Ordinary Level Grade | Points |
| -- | -- |
| O1 | 56 |
| O2 | 46 |
| O3 | 37 |
| O4 | 28 |
| O5 | 20 |
| O6 | 12 |
| O7 | 0 |
| O8 | 0 |

A students points are calculated based on their six best subjects for a maximum score of 625, if the student takes and passes higher level maths<sup>2</sup>.

In [1]:
!pwd

/Users/saidhbhfoley/Desktop/repo/CAO-points

In [2]:
!ls

CAO Points Analysis.ipynb    data
PyPlot.ipynb                 requirements.txt
README.md                    ~$O2019_20211113_105625.docx
Untitled.ipynb

In [3]:
# !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install --user

## CAO Points Analysis


------

### Importing the Required Libraries

In [4]:
# Regualar expressions
import re

# Convient HTTP requests
import requests as rq

# Dates and times
import datetime as dt

import os

# Data frames
import pandas as pd

# For downloading
import urllib.request as urlrq

# Nice plots
import seaborn as sns

# Numpy
import numpy as np

# Matplotlib
import matplotlib.pyplot as plt

### Saving the datasets

It is best practice to save the dataset each time the data is ran, this ensures if the data on the websites is changed then the dataset will reflect these changes. In order for each save to not overwrite the previous version datetime is used.

In [5]:
# Get current date and time
now = dt.datetime.now()

# Format as a string
nowstr = now.strftime('%Y%m%d_%H%M%S')

<br>

## Obtaining the Data for the CAO 2021 Points
-----

The [2021 course points](http://www2.cao.ie/points/l8.php) for level 8 courses.

```Resquests``` allows you to send HTTP/1.1 requests extremely easily<sup>3</sup>. ```resp``` is the response object from which we get all the information we need<sup>4</sup>. The HTTP ```<Respoonse [200]>``` success status response code indicates that the request has succeeded<sup>5</sup>.

In [6]:
# Use resp.text to see the text
resp = rq.get('http://www2.cao.ie/points/l8.php')

# peak
resp

In [7]:
# Create a filepath for the original data
# Always sort year, month, date
pathhtml= 'data/CAO2021_' + nowstr + '.html'

#### Error on Server

Technically, the server says we should decode as per:
> Content-Type: text/html; charset=iso-8859-1

However one line uses \x96 which isn't defined in iso-8859-1
Therefore we use the similar decoding standard cp1252.

utf-8 usual decode but since Irish uses fadas you must decode using iso-8859-1 so it's not written in utf-8. Inspect the webpage and then it shows you the source code and network. In network headers you can see that the character set used is iso-8859-1.

In [8]:
# Server uses wrong encoding
original_encoding = resp.encoding

# Change to cp1252
resp.encoding = 'cp1252'

In [9]:
# Save original html file
with open(pathhtml, 'w') as f:
    f.write(resp.text)

#### Regular Expressions

Regular expressions can be used to clean the dataset. These work by searching and matching using a sequence if characters that the user specifies. Regular expressions can be used to remove rows/spaces/whitespaces that are not required. Below is the regular expression used to clean this dataset.
```(r'([A-Z]{2}[0-9]{3})  (.*)')```
The first part of this code ```(r'(``` denotes a raw string, followed by ```[A-Z]{2}``` which means any two capital letters between A and Z, followed by ```[0-9]{3}``` which looks for 3 numbers between 0 and 9 immediately after the two letters and finally ```(.*)')``` this looks for a wildcard (an unknown number of any character).

In [10]:
#Compile the regular expression for matching lines
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)')

#### Creating the filepath

In [11]:
# The file path for the csv file.
path2021 = 'data/cao2021_csv_' + nowstr + '.csv'

In [12]:
# Keep track of how many courses we process.
no_lines=0

# Open the csv file for writing.
with open(path2021, 'w') as f:
    #Write a header row
    f.write(','.join(['code', 'title', 'pointsR1', 'pointsR2']) + '\n')
    for line in resp.iter_lines():
        dline = line.decode('cp1252')
        # Match only the lines we want - the ones representing courses.
        #if re.fullmatch('[A-Z]{2}[0-9]{3}  .*[0-9]{3}(\*)? *', line.decode('iso-8859-1')):
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            #print(line)
            #csv_version = re_course.sub(r'\1,\2,\3\4', dline)
            #print(csv_version)
            #linesplit = re.split('  +', dline)
            # debug
            #print(len(linesplit), linesplit, dline)
            course_code = dline[:5]
            #print(course_code)
            course_title = dline[7:57].strip()
            # Round one points
            course_points = re.split(' +', dline[60:])
            if len(course_points) !=2:
            #print(f"'{course_title}'")
                course_points = course_points[:2]
            # join fields using a comma
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            f.write(','.join(linesplit) + '\n')
            #print(','.join(linesplit))
            
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

<br>

**NB**: it was verified as of 13 Nov 2021 that there were 949 courses exactly in the CAO 2021 points list

In [13]:
header_list=['Code','Title', 'Points R1', 'Points R2']
df2021 = pd.read_csv(path2021, encoding='cp1252',names=header_list, skiprows=1)

#### Describing the 2021 Data

In [14]:
df2021

,Code,Title,Points R1,Points R2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
944,WD211,Creative Computing,270,NaN
945,WD212,Recreation and Sport Management,262,NaN
946,WD230,Mechanical and Manufacturing Engineering,230,230
947,WD231,Early Childhood Care and Education,266,NaN
948,WD232,Business Information Systems,261,261

In [15]:
 df2021.head()

,Code,Title,Points R1,Points R2
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN

<br>

## Obtaining the Data for the CAO 2020 Points
___

The [CAO points for 2020](https://www.cao.ie/index.php?page=points&p=2020) level 8 courses.

----

The CAO website does not offer each years data in the same format the data for 2020 courses is only available in an excel spreadsheet. However due to the inbuilt excel reader in pandas this makes it easier for us to create a CSV file.

As with the 2021 data, first the data is saved using the timestamp.

In [16]:
url2020 = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [17]:
pathxlsx = 'data/CAO2020_' + nowstr + '.xlsx'

In [18]:
urlrq.urlretrieve(url2020, pathxlsx)

('data/CAO2020_20211222_185758.xlsx',
 <http.client.HTTPMessage at 0x7f8aa31077f0>)

In [19]:
# Download and parse the excel
df2020 = pd.read_excel(url2020, skiprows = 10)

#### Describing the 2020 Data

In [20]:
df2020

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df2020.describe()

,LEVEL,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
count,1464.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.639344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.595939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CATEGORY (i.e.ISCED description)  1464 non-null   object
 1   COURSE TITLE                      1464 non-null   object
 2   COURSE CODE2                      1464 non-null   object
 3   R1 POINTS                         1437 non-null   object
 4   R1 Random *                       59 non-null     object
 5   R2 POINTS                         333 non-null    object
 6   R2 Random*                        29 non-null     object
 7   EOS                               1448 non-null   object
 8   EOS Random *                      69 non-null     object
 9   EOS Mid-point                     1437 non-null   object
 10  LEVEL                             1464 non-null   int64
 11  HEI                               1464 non-null   object
 12  Test/Interview #                  127 non-null    object
 13  avp                               212 non-null    object
 14  v                                 12 non-null     object
 15  Column1                           0 non-null      float64
 16  Column2                           0 non-null      float64
 17  Column3                           0 non-null      float64
 18  Column4                           0 non-null      float64
 19  Column5                           0 non-null      float64
 20  Column6                           0 non-null      float64
 21  Column7                           0 non-null      float64
 22  Column8                           0 non-null      float64
dtypes: float64(8), int64(1), object(14)
memory usage: 263.2+ KB

#### Spot Checking the 2020 Data

In [23]:
# Spot check random row
df2020.iloc[753]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Road Transport Technology and Management
COURSE CODE2                                                           LC286
R1 POINTS                                                                264
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      264
EOS Random *                                                             NaN
EOS Mid-point                                                            360
LEVEL                                                                      7
HEI                                         Limerick Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 753, dtype: object

In [24]:
# Spot check last row
df2020.iloc[1463]
# can also use -1 to get the very last row, -2 second last row......

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [25]:
path2020 = 'data/CAO2020_' + nowstr + '.csv'

In [26]:
df2020.to_csv(path2020)

In [27]:
df2020.columns = [c.replace(' ', '_') for c in df2020.columns]

<br>

## Obtaining the Data for the CAO 2019 Points
---

The [CAO points for 2019](https://www.cao.ie/index.php?page=points&p=2019) for level 8 courses.

----

Again the data offered from the CAO site changes for 2019, for this year it's given in a pdf. This means the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '

In [28]:
df2019 = pd.read_csv('data/CAO2019_20211113_105625_edited.csv', sep='\t')

#### Describing the 2019 Data

In [29]:
df2019

      Code                                              Title  EOS  Mid
0    AL801    Software Design with Virtual Reality and Gaming  304  328
1    AL802               Software Design with Cloud Computing  301  306
2    AL803  Software Design with Mobile Apps and Connected...  309  337
3    AL805        Network Management and Cloud Infrastructure  329  442
4    AL810                                 Quantity Surveying  307  349
..     ...                                                ...  ...  ...
925  WD200                                     Arts (options)  221  296
926  WD210                       Software Systems Development  271  329
927  WD211                                 Creative Computing  275  322
928  WD212                    Recreation and Sport Management  274  311
929  WD230           Mechanical and Manufacturing Engineering  273  348

[930 rows x 4 columns]

**Note**: As 2019 data does not offer Round 1 and Round 2 data this will make analysing the three dataframes less accurate.

<br>

## Obtaining the Data for the CAO 2018 Points
---

The [CAO points for 2018](https://www.cao.ie/index.php?page=points&p=2018) for level 8 courses.

----

Similar to 2019 the 2018 data were given in pdf format meaning the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '

In [30]:
df2018 = pd.read_csv('data/CAO2018_20211211_133605.csv', sep='\t')

#### Describing the 2018 Data

In [31]:
df2018

       Code                                              Title   EOS    Mid
0    AL801   Software Design (Game Development or Cloud Com...  295   326.0
1    AL810                                 Quantity Surveying   300   340.0
2    AL820                 Mechanical and Polymer Engineering   299   371.0
3    AL830                                    General Nursing   418   440.0
4    AL832                                Psychiatric Nursing   377   388.0
..      ...                                                ...   ...    ...
898  WD197                             The Internet of Things   260   329.0
899  WD200                                               Arts   220   299.0
900  WD210                       Software Systems Development   289   327.0
901  WD211                                 Creative Computing   265   326.0
902  WD212                    Recreation and Sport Management   288   338.0

[903 rows x 4 columns]

<br>

## Obtaining the Data for the CAO 2017 Points
---

The [CAO points for 2017](https://www.cao.ie/index.php?page=points&p=2017) for level 8 courses.

----

Similar to 2019 and 2018 data, the 2017 data were given in pdf format meaning the data was cleaned by hand as it is the quickest way to clean data gleaned from a pdf. Below are the steps I used to clean the data. Note as I use iOS there are some differences in how the data was converted to a csv file.

### Steps to reproduce

1. Download original pdf file
2. Open original pdf file with preview
3. Copy all to Microsoft Word
4. Save Microsoft Word's converted pdf in docx format
5. Re-save Word document for editing
6. Delete headers and Footers
7. Delete preamble at the start
8. Opened with vs code
9. Removed blank lines and college provider
10. Used find and replace to remove tabs and replace with comma
11. Used find and replace to remove all ` with '
12. Updated header to Code and Title

In [32]:
df2017 = pd.read_csv('data/CAO2017_20211211_14-50-35_edited.csv', sep='\t')

#### Describing the 2017 Data

In [33]:
df2017

       Code                                              Title  Final    Mid
0    AL801   Software Design (Game Development or Cloud Com...   290   329.0
1    AL810                                 Quantity Surveying    311   357.0
2    AL820                 Mechanical and Polymer Engineering    300   336.0
3    AL830                                    General Nursing   398*   418.0
4    AL832                                Psychiatric Nursing    378   389.0
..      ...                                                ...    ...    ...
860  WD193                        Marketing and Digital Media    297   337.0
861  WD194                                      Culinary Arts    279   356.0
862  WD195   Architectural & Building Information Modelling...   273   320.0
863  WD197                             The Internet of Things    262   328.0
864  WD200                                               Arts    267   309.0

[865 rows x 4 columns]

## Cleaning the Dataset
---

Upon examining the dataset there were still characters that needed to be removed in order to perform analysis on the data set therefore I removed the #, * and the +matrix from each year

In [34]:
df2021=df2021.replace('\#','',regex=True)
df2021=df2021.replace('\*','',regex=True)
df2021=df2021.replace('\+matric','',regex=True)

In [35]:
df2020=df2020.replace('\#','',regex=True)
df2020=df2020.replace('\*','',regex=True)
df2020=df2020.replace('\+matric','',regex=True)

In [36]:
df2019=df2019.replace('\#','',regex=True)
df2019=df2019.replace('\*','',regex=True)
df2019=df2019.replace('\+matric','',regex=True)

In [37]:
df2018=df2018.replace('\#','',regex=True)
df2018=df2018.replace('\*','',regex=True)
df2018=df2018.replace('\+matric','',regex=True)

In [38]:
df2017=df2017.replace('\#','',regex=True)
df2017=df2017.replace('\*','',regex=True)
df2017=df2017.replace('\+matric','',regex=True)

<br>

## Concat and Join
***

Joining the codes and titles for each year. This is done by first creating a dataframe containing the code and title for each year, then joining all the years codes and titles together, removing any duplicates.

### Joining Code and Title for 2021

Joining code and title by creating new dataframe courses2021

In [39]:
courses2021 = df2021[['Code', 'Title']]

In [40]:
courses2021

      Code                                              Title
0    AL801     Software Design for Virtual Reality and Gaming
1    AL802  Software Design in Artificial Intelligence for...
2    AL803  Software Design for Mobile Apps and Connected ...
3    AL805    Computer Engineering for Network Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
944  WD211                                 Creative Computing
945  WD212                    Recreation and Sport Management
946  WD230           Mechanical and Manufacturing Engineering
947  WD231                 Early Childhood Care and Education
948  WD232                       Business Information Systems

[949 rows x 2 columns]

### Joining Code and Title for 2020

Joining code and title by creating new dataframe courses2020

In [41]:
courses2020 = df2020[['COURSE_CODE2', 'COURSE_TITLE']]
courses2020.columns = ['Code', 'Title']

In [42]:
courses2020

       Code                                              Title
0     AC120                             International Business
1     AC137                                       Liberal Arts
2     AD101   First Year Art & Design (Common Entry,portfolio)
3     AD102  Graphic Design and Moving Image Design (portfo...
4     AD103  Textile & Surface Design and Jewellery & Objec...
...     ...                                                ...
1459  WD208                          Manufacturing Engineering
1460  WD210                       Software Systems Development
1461  WD211                                 Creative Computing
1462  WD212                    Recreation and Sport Management
1463  WD230           Mechanical and Manufacturing Engineering

[1464 rows x 2 columns]

### Joining Code and Title for 2019

Joining code and title by creating new dataframe courses2019

In [43]:
courses2019 = df2019[['Code', 'Title']]
courses2019

      Code                                              Title
0    AL801    Software Design with Virtual Reality and Gaming
1    AL802               Software Design with Cloud Computing
2    AL803  Software Design with Mobile Apps and Connected...
3    AL805        Network Management and Cloud Infrastructure
4    AL810                                 Quantity Surveying
..     ...                                                ...
925  WD200                                     Arts (options)
926  WD210                       Software Systems Development
927  WD211                                 Creative Computing
928  WD212                    Recreation and Sport Management
929  WD230           Mechanical and Manufacturing Engineering

[930 rows x 2 columns]

### Joining Code and Title for 2018

Joining code and title by creating new dataframe courses2018

In [44]:
courses2018 = df2018[['Code', 'Title']]
courses2018

       Code                                              Title
0    AL801   Software Design (Game Development or Cloud Com...
1    AL810                                 Quantity Surveying
2    AL820                 Mechanical and Polymer Engineering
3    AL830                                    General Nursing
4    AL832                                Psychiatric Nursing
..      ...                                                ...
898  WD197                             The Internet of Things
899  WD200                                               Arts
900  WD210                       Software Systems Development
901  WD211                                 Creative Computing
902  WD212                    Recreation and Sport Management

[903 rows x 2 columns]

### Joining Code and Title for 2017

Joining code and title by creating new dataframe courses2017

In [45]:
courses2017 = df2017[['Code', 'Title']]
courses2017

       Code                                              Title
0    AL801   Software Design (Game Development or Cloud Com...
1    AL810                                 Quantity Surveying
2    AL820                 Mechanical and Polymer Engineering
3    AL830                                    General Nursing
4    AL832                                Psychiatric Nursing
..      ...                                                ...
860  WD193                        Marketing and Digital Media
861  WD194                                      Culinary Arts
862  WD195   Architectural & Building Information Modelling...
863  WD197                             The Internet of Things
864  WD200                                               Arts

[865 rows x 2 columns]

### Joining the dataframes 2021 - 2017

In [46]:
allcourses = pd.concat([courses2021, courses2020, courses2019, courses2018, courses2017], ignore_index=True)

allcourses

        Code                                              Title
0      AL801     Software Design for Virtual Reality and Gaming
1      AL802  Software Design in Artificial Intelligence for...
2      AL803  Software Design for Mobile Apps and Connected ...
3      AL805    Computer Engineering for Network Infrastructure
4      AL810                                 Quantity Surveying
...      ...                                                ...
5106  WD193                        Marketing and Digital Media
5107  WD194                                      Culinary Arts
5108  WD195   Architectural & Building Information Modelling...
5109  WD197                             The Internet of Things
5110  WD200                                               Arts

[5111 rows x 2 columns]

In [47]:
# allcourses.reset_index()

### Sorting the Dataframe by 'Code'

In [48]:
allcourses.sort_values('Code')

        Code                                     Title
175    AC120                    International Business
949    AC120                    International Business
2581   AC120                    International Business
4399  AC120                    International Business
3498  AC120                    International Business
...      ...                                       ...
3342   WD230  Mechanical and Manufacturing Engineering
2412   WD230  Mechanical and Manufacturing Engineering
946    WD230  Mechanical and Manufacturing Engineering
947    WD231        Early Childhood Care and Education
948    WD232              Business Information Systems

[5111 rows x 2 columns]

In [49]:
#allcourses.loc[175]['Title']

In [50]:
#allcourses.loc[949]['Title']

In [51]:
# Finds all extra copies of duplicated rows
#allcourses[allcourses.duplicated()]

In [52]:
# Dataframe with duplicates removed
#allcourses.drop_duplicates()

### Removing Duplicated from allcourses

In [53]:
# Finds all extra copies of duplicated rows
allcourses[allcourses.duplicated(subset=['Code'])]

        Code                                              Title
949    AC120                             International Business
950    AC137                                       Liberal Arts
951    AD101   First Year Art & Design (Common Entry,portfolio)
952    AD102  Graphic Design and Moving Image Design (portfo...
953    AD103  Textile & Surface Design and Jewellery & Objec...
...      ...                                                ...
5106  WD193                        Marketing and Digital Media
5107  WD194                                      Culinary Arts
5108  WD195   Architectural & Building Information Modelling...
5109  WD197                             The Internet of Things
5110  WD200                                               Arts

[2522 rows x 2 columns]

In [54]:
# Dataframe with duplicates removed - based only on code
allcourses.drop_duplicates(subset=['Code'], inplace=True, ignore_index=True)

In [55]:
allcourses.set_index('Code', inplace=True)

In [56]:
allcourses

                                                    Title
Code
AL801      Software Design for Virtual Reality and Gaming
AL802   Software Design in Artificial Intelligence for...
AL803   Software Design for Mobile Apps and Connected ...
AL805     Computer Engineering for Network Infrastructure
AL810                                  Quantity Surveying
...                                                   ...
WD124                                   Health Promotion
WD125                        Exercise and Health Studies
WD160                             Finance and Investment
WD171                     Sustainable Energy Engineering
WD180                      Physics for Modern Technology

[2589 rows x 1 columns]

<br>

### Joining Courses to the Points
-----
After each years course code and title have been integrated the points for each of the years are then joined to create the dataset I will analyse.

#### Adding Points to 2021 Data

In [57]:
# Set index to code column
df2021.set_index('Code', inplace=True)
df2021.columns = ['Title','points_R1_2021','points_R2_2021']
df2021

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD211,Creative Computing,270,NaN
WD212,Recreation and Sport Management,262,NaN
WD230,Mechanical and Manufacturing Engineering,230,230
WD231,Early Childhood Care and Education,266,NaN
WD232,Business Information Systems,261,261

In [58]:
allcourses = allcourses.join(df2021[['points_R1_2021','points_R2_2021']])
allcourses

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD124,Health Promotion,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN
WD160,Finance and Investment,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN

#### Adding Points to 2020 Data

In [59]:
df2020.set_index('COURSE_CODE2', inplace=True)

In [60]:
df2020_r1 = df2020[['R1_POINTS','R2_POINTS']]
df2020_r1.columns = ['points_R1_2020', 'points_R2_2020']
df2020_r1

             points_R1_2020 points_R2_2020
COURSE_CODE2
AC120                   209            NaN
AC137                   252            NaN
AD101                                  NaN
AD102                                  NaN
AD103                                  NaN
...                     ...            ...
WD208                   188            NaN
WD210                   279            NaN
WD211                   271            NaN
WD212                   270            NaN
WD230                   253            NaN

[1464 rows x 2 columns]

In [61]:
#df2020_r1.set_index('Code', inplace=True)
#df2020_r1

In [62]:
allcourses = allcourses.join(df2020_r1)
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020
Code,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN
AL810,Quantity Surveying,328,NaN,319,NaN
...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN

#### Adding Points to 2019 Data

In [63]:
df2019.set_index('Code', inplace=True)
df2019.columns = ['Title','EOS_2019','Mid_2019']
df2019

                                                   Title EOS_2019 Mid_2019
Code
AL801    Software Design with Virtual Reality and Gaming      304      328
AL802               Software Design with Cloud Computing      301      306
AL803  Software Design with Mobile Apps and Connected...      309      337
AL805        Network Management and Cloud Infrastructure      329      442
AL810                                 Quantity Surveying      307      349
...                                                  ...      ...      ...
WD200                                     Arts (options)      221      296
WD210                       Software Systems Development      271      329
WD211                                 Creative Computing      275      322
WD212                    Recreation and Sport Management      274      311
WD230           Mechanical and Manufacturing Engineering      273      348

[930 rows x 3 columns]

In [64]:
allcourses=allcourses.join(df2019[['EOS_2019','Mid_2019']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019
Code,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442
AL810,Quantity Surveying,328,NaN,319,NaN,307,349
...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN

#### Adding Points to 2018 Data

In [65]:
df2018.set_index('Code', inplace=True)
df2018.columns = ['Title','EOS_2018','Mid_2018']
df2018

                                                    Title EOS_2018  Mid_2018
Code
AL801   Software Design (Game Development or Cloud Com...     295      326.0
AL810                                 Quantity Surveying      300      340.0
AL820                 Mechanical and Polymer Engineering      299      371.0
AL830                                    General Nursing      418      440.0
AL832                                Psychiatric Nursing      377      388.0
...                                                   ...      ...       ...
WD197                             The Internet of Things      260      329.0
WD200                                               Arts      220      299.0
WD210                       Software Systems Development      289      327.0
WD211                                 Creative Computing      265      326.0
WD212                    Recreation and Sport Management      288      338.0

[903 rows x 3 columns]

In [66]:
allcourses=allcourses.join(df2018[['EOS_2018','Mid_2018']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019,EOS_2018,Mid_2018
Code,,,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328,NaN,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306,NaN,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337,NaN,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442,NaN,NaN
AL810,Quantity Surveying,328,NaN,319,NaN,307,349,NaN,NaN
...,...,...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Adding Points to 2017 Data

In [67]:
df2017.set_index('Code', inplace=True)
df2017.columns = ['Title','EOS_2017','Mid_2017']
df2017

                                                    Title EOS_2017  Mid_2017
Code
AL801   Software Design (Game Development or Cloud Com...     290      329.0
AL810                                 Quantity Surveying      311      357.0
AL820                 Mechanical and Polymer Engineering      300      336.0
AL830                                    General Nursing      398      418.0
AL832                                Psychiatric Nursing      378      389.0
...                                                   ...      ...       ...
WD193                        Marketing and Digital Media      297      337.0
WD194                                      Culinary Arts      279      356.0
WD195   Architectural & Building Information Modelling...     273      320.0
WD197                             The Internet of Things      262      328.0
WD200                                               Arts      267      309.0

[865 rows x 3 columns]

In [68]:
allcourses=allcourses.join(df2017[['EOS_2017','Mid_2017']])
allcourses

,Title,points_R1_2021,points_R2_2021,points_R1_2020,points_R2_2020,EOS_2019,Mid_2019,EOS_2018,Mid_2018,EOS_2017,Mid_2017
Code,,,,,,,,,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN,303,NaN,304,328,NaN,NaN,NaN,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN,332,NaN,301,306,NaN,NaN,NaN,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN,337,NaN,309,337,NaN,NaN,NaN,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN,333,NaN,329,442,NaN,NaN,NaN,NaN
AL810,Quantity Surveying,328,NaN,319,NaN,307,349,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
WD124,Health Promotion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,296,347.0
WD125,Exercise and Health Studies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273,316.0
WD160,Finance and Investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310,390.0
WD171,Sustainable Energy Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234,347.0
WD180,Physics for Modern Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,374,488.0

## Examining the Dataset
***

Before analysing the data it is important to first examine the data. First I will use value_counts() to display the unique counts, i.e. how many courses required the same amount of points to gain entry into that course. Then I will use df.describe() to summarise the general stats of each year. Finally I will use df.info() to get information on the dataframe such as the dtype, and information on the NaN values.

### Examining the 2021 Dataset

Here I will look at how many unique points there are in the dataset. I will then use df.describe() to get a general description of the dataset, I will also use df.info() for further examination of the dataset.

In [69]:
allcourses['points_R1_2021'].value_counts()

300    19
270    15
309    13
498    11
308    11
       ..
588     1
211     1
219     1
386     1
237     1
Name: points_R1_2021, Length: 319, dtype: int64

In [70]:
df2021.describe()

           Title points_R1_2021 points_R2_2021
count        949            928            258
unique       709            319            160
top     Business            300            613
freq          12             19              6

In [71]:
df2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 949 entries, AL801 to WD232
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           949 non-null    object
 1   points_R1_2021  928 non-null    object
 2   points_R2_2021  258 non-null    object
dtypes: object(3)
memory usage: 61.9+ KB

In [72]:
print(df2021.loc[df2021['points_R1_2021'] == 'AQA'])

                                                   Title points_R1_2021  \
Code
MH801  Early Childhood - Teaching and Learning (part-...            AQA

      points_R2_2021
Code
MH801            AQA

In 2021 one of the entries had "AQA" so we choose to remove this particular entry from further analysis.

In [73]:
df2021 = df2021.loc[df2021['points_R1_2021'] != "AQA"]

In [74]:
df2021

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300,NaN
AL802,Software Design in Artificial Intelligence for...,313,NaN
AL803,Software Design for Mobile Apps and Connected ...,350,NaN
AL805,Computer Engineering for Network Infrastructure,321,NaN
AL810,Quantity Surveying,328,NaN
...,...,...,...
WD211,Creative Computing,270,NaN
WD212,Recreation and Sport Management,262,NaN
WD230,Mechanical and Manufacturing Engineering,230,230
WD231,Early Childhood Care and Education,266,NaN
WD232,Business Information Systems,261,261

In [75]:
df2021.points_R1_2021 = pd.to_numeric(df2021.points_R1_2021)
#print(df2021)

/Users/saidhbhfoley/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [76]:
df2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 948 entries, AL801 to WD232
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           948 non-null    object
 1   points_R1_2021  923 non-null    float64
 2   points_R2_2021  257 non-null    object
dtypes: float64(1), object(2)
memory usage: 29.6+ KB

In [77]:
df2021.isna().sum().sort_values(ascending = False) / len(df2021)

points_R2_2021    0.728903
points_R1_2021    0.026371
Title             0.000000
dtype: float64

72% values are NaN for R2 Points in 2021, 2% values are NaN for 2021 for R1 Points, hence we are focusing on R1 for 2021.

### Examining the 2020 Dataset

Here I will use df.describe() to get a general description of the dataset, however as this command works on floats it will not describe the objects in the dataset therefore I will also use df.info() for further examination of the dataset. Finally I will look at how many unique points there are in the dataset.

In [78]:
df2020.describe()

,LEVEL,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
count,1464.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.639344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.595939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1464 entries, AC120 to WD230
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CATEGORY_(i.e.ISCED_description)  1464 non-null   object
 1   COURSE_TITLE                      1464 non-null   object
 2   R1_POINTS                         1437 non-null   object
 3   R1_Random_*                       59 non-null     object
 4   R2_POINTS                         333 non-null    object
 5   R2_Random*                        29 non-null     object
 6   EOS                               1448 non-null   object
 7   EOS_Random_*                      69 non-null     object
 8   EOS_Mid-point                     1437 non-null   object
 9   LEVEL                             1464 non-null   int64
 10  HEI                               1464 non-null   object
 11  Test/Interview_#                  127 non-null    object
 12  avp                               212 non-null    object
 13  v                                 12 non-null     object
 14  Column1                           0 non-null      float64
 15  Column2                           0 non-null      float64
 16  Column3                           0 non-null      float64
 17  Column4                           0 non-null      float64
 18  Column5                           0 non-null      float64
 19  Column6                           0 non-null      float64
 20  Column7                           0 non-null      float64
 21  Column8                           0 non-null      float64
dtypes: float64(8), int64(1), object(13)
memory usage: 295.4+ KB

In [80]:
df2020.isna().sum().sort_values(ascending = False) / len(df2020)

Column8                             1.000000
Column7                             1.000000
Column6                             1.000000
Column5                             1.000000
Column4                             1.000000
Column3                             1.000000
Column2                             1.000000
Column1                             1.000000
v                                   0.991803
R2_Random*                          0.980191
R1_Random_*                         0.959699
EOS_Random_*                        0.952869
Test/Interview_#                    0.913251
avp                                 0.855191
R2_POINTS                           0.772541
EOS_Mid-point                       0.018443
R1_POINTS                           0.018443
EOS                                 0.010929
COURSE_TITLE                        0.000000
HEI                                 0.000000
LEVEL                               0.000000
CATEGORY_(i.e.ISCED_description)    0.000000
dtype: float64

77% of values for R2 in 2020 are NaN, while only 1% of 2020 R1 points are NaN, hence focusing on R1 for 2020.

In [81]:
allcourses['points_R1_2020'].value_counts()

AQA    26
300    26
280    18
270    18
       17
       ..
502     1
728     1
312     1
375     1
222     1
Name: points_R1_2020, Length: 388, dtype: int64

We are only choosing R1 for 2020 and 2021 the reason being there are less non-null values compared to the total number of values especially for 2020 <1/3 are values.

### Examining the 2019 Dataset

Here I will look at how many unique points there are in the dataset. I will then use df.describe() to get a general description of the dataset, I will also use df.info() for further examination of the dataset.

In [82]:
allcourses['Mid_2019'].value_counts()

543    14
388    13
338    13
466    12
487    11
       ..
412     1
452     1
579     1
522     1
294     1
Name: Mid_2019, Length: 278, dtype: int64

In [83]:
df2019.describe()

                         Title EOS_2019 Mid_2019
count                      930      926      915
unique                     719      307      278
top     Accounting and Finance      300      543
freq                        11       32       14

In [84]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, AL801 to WD230
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     930 non-null    object
 1   EOS_2019  926 non-null    object
 2   Mid_2019  915 non-null    object
dtypes: object(3)
memory usage: 61.4+ KB

### Examining the 2018 Dataset

Here I will look at how many unique points there are in the dataset. I will then use df.describe() to get a general description of the dataset, I will also use df.info() for further examination of the dataset.

In [85]:
allcourses['Mid_2018'].value_counts()

347.0    14
357.0    13
388.0    13
473.0    13
462.0    11
         ..
836.0     1
545.0     1
463.0     1
643.0     1
379.0     1
Name: Mid_2018, Length: 255, dtype: int64

In [86]:
df2018.describe()

          Mid_2018
count   875.000000
mean    422.273143
std     127.488725
min      56.000000
25%     338.000000
50%     392.000000
75%     476.000000
max    1045.000000

In [87]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, AL801  to WD212
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     903 non-null    object
 1   EOS_2018  891 non-null    object
 2   Mid_2018  875 non-null    float64
dtypes: float64(1), object(2)
memory usage: 60.5+ KB

### Examining the 2017 Dataset

Here I will look at how many unique points there are in the dataset. I will then use df.describe() to get a general description of the dataset, I will also use df.info() for further examination of the dataset.

In [88]:
allcourses['Mid_2017'].value_counts()

347.0    14
357.0    13
476.0    12
337.0    11
430.0    11
         ..
852.0     1
369.0     1
862.0     1
503.0     1
400.0     1
Name: Mid_2017, Length: 256, dtype: int64

In [89]:
df2017.describe()

          Mid_2017
count   847.000000
mean    425.227863
std     128.648223
min      57.000000
25%     339.000000
50%     399.000000
75%     478.000000
max    1068.000000

In [90]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 865 entries, AL801  to WD200
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     865 non-null    object
 1   EOS_2017  855 non-null    object
 2   Mid_2017  847 non-null    float64
dtypes: float64(1), object(2)
memory usage: 59.3+ KB

## Cleaning the Dataset
---

Upon examining the dataset there were still characters that needed to be removed in order to perform analysis on the data set therefore I removed the #, * and the +matrix from each year

## Comparing 2021 and 2020 Dataset
***

Before comparing the data between the years 2021 and 2020, first I will examine the data to see how many courses are in both years so I can compare the course points for these years. I will use .unique() to compare the course titles between the two years data. By comparing the course titles I'll understand if some courses were dropped after 2020 or added in 2021.

### 2021 Courses
First I will look into the 2021 courses that were on offer and find how many unique titles there were.

In [91]:
df2021.Title.unique()

array(['Software Design for Virtual Reality and Gaming',
       'Software Design in Artificial Intelligence for Clo',
       'Software Design for Mobile Apps and Connected Devi',
       'Computer Engineering for Network Infrastructure',
       'Quantity Surveying', 'Civil Engineering',
       'Mechanical and Polymer Engineering', 'General Nursing',
       'Mental Health Nursing', 'Pharmacology',
       'Nutrition and Health Science',
       'Sports Science with Exercise Physiology', 'Biotechnology',
       'Microbiology', 'Pharmaceutical Sciences',
       'Athletic and Rehabilitation Therapy', 'Bioveterinary Science',
       'Physical Activity and Health Science',
       'Culinary Entrepreneurship', 'Business', 'Business and Law',
       'Accounting', 'Sport Management (with international placement)',
       'Hospitality Management (with international placeme',
       'Digital Marketing', 'International Business',
       'Social Care Practice', 'Animation and Illustration (portfolio)',
       'Graphic and Digital Design (portfolio)',
       'Early Years Care and Education', 'Applied Psychology',
       'Business (options)', 'Early Childhood Education and Care',
       'Art (portfolio)', 'Tourism and Event Management',
       'Applied Social Studies in Professional Social Care',
       'Sustainable Farm Management and Agribusiness',
       'Visual Communications and Design', 'Science (options)',
       'Brewing and Distilling', 'Sport and Exercise Science',
       'Strength and Conditioning',
       'Sport Rehabilitation and Athletic Therapy',
       'Computer Games Development', 'Software Development',
       'Information Technology Management', 'Cybercrime and IT Security',
       'Computing in Interactive Digital Art and Design',
       'Construction (options)', 'Architectural Technology',
       'Mechanical Engineering', 'Electronic Systems',
       'Aerospace Engineering', 'TV and Media Production', 'Law - LLB',
       'Product Design Innovation', 'Professional Social Care Practice',
       'Media and Public Relations', 'Digital Marketing with Analytics',
       'Sports Management and Coaching (options  portfolio',
       'Business with Law', 'Social  Political and Community Studies',
       'Arts and Humanities (fulfils Teaching Council requ',
       'English and History (fulfils Teaching Council requ',
       'Chemical and Biopharmaceutical Engineering',
       'Structural Engineering',
       'Automotive Business Management and Technology',
       'Creative Digital Media at CIT Crawford College of',
       'Computer Systems', 'Music at CIT Cork School of Music',
       'Popular Music at CIT Cork School of Music',
       'Musical Theatre at CIT Cork School of Music',
       'Business Information Systems',
       'Contemporary Applied Art (Ceramics  Glass  Textile',
       'Fine Art at CIT Crawford College of Art and Design',
       'Photography with New Media at CIT Crawford College',
       'Physical Sciences (Common Entry)', 'IT Management',
       'Biomedical Science - Offered jointly by CIT and UC',
       'Pharmaceutical Biotechnology',
       'Biological Sciences (Common Entry)',
       'Analytical Chemistry with Quality Assurance',
       'Instrument Engineering',
       'Environmental Science and Sustainable Technology',
       'Agri-Biosciences', 'Marketing',
       'International Business with Language',
       'Sport and Exercise Management',
       'Coaching Science and Sports Pedagogy', 'Montessori Education',
       'Engineering (Common Entry)', 'Sustainable Energy Engineering',
       'Biomedical Engineering', 'Interior Architecture',
       'Construction Management', 'Electrical Engineering',
       'Electronic Engineering',
       'Visual Communications at CIT Crawford College of A',
       'Tourism Management',
       'Theatre and Drama Studies at CIT Cork School of Mu',
       'Home Economics and Business', 'Arts - 3 years', 'Social Science',
       'Arts with Music - 3 or 4 years (BMus or Chinese/Eu',
       'Film and Screen Media - 3 years or 4 years (Intern',
       'Geographical and Archaeological Sciences - 3 or 4',
       'Arts International - 4 years',
       'English - 3 years or 4 years (International Pathwa',
       'World Languages', 'Early Years and Childhood Studies',
       'Theatre and Performative Practices - 3 or 4 years',
       'Criminology - 3 years or 4 years (International Pa',
       'Social Science (Youth and Community Work)',
       'Social Work - Mature Applicants only',
       'Digital Humanities and IT - 3 or 4 years (Work Exp',
       'Psychology and Computing - 3 or 4 years (Work Expe',
       'Government and Political Science', 'Anthropology',
       'Education - Gaeilge', 'Sports Studies and Physical Education',
       'Commerce', 'Finance', 'Commerce (International) with French',
       'Commerce (International) with German',
       'Commerce (International) with Italian',
       'Commerce (International) with Hispanic Studies',
       'Commerce (International) with Irish',
       'Commerce (International) with Chinese Studies',
       'Economics (through Transformational Learning) 3 or',
       'Food Marketing and Entrepreneurship', 'International Development',
       'Law (Pathways) -  3 or 4 years', 'Law and French',
       'Law and Irish', 'Law and Business', 'Computer Science',
       'Biological and Chemical Sciences',
       'Biological  Earth and Environmental Sciences', 'Genetics',
       'Chemical Sciences', 'Mathematical Sciences',
       'Physics and Astrophysics',
       'Industrial Physics - Offered jointly by UCC and CI',
       'Data Science and Analytics', 'Agricultural Science',
       'Nutritional Sciences', 'Food Science', 'Engineering',
       'Architecture - Offered jointly by UCC and CIT',
       'Medicine (Undergraduate Entry - HPAT required)', 'Dentistry',
       'Pharmacy', 'Occupational Therapy', 'Speech and Language Therapy',
       'Public Health Sciences', 'Medical and Health Sciences',
       'Children`s and General Nursing (Integrated)',
       'Intellectual Disability Nursing', 'Midwifery',
       'Medicine  - Graduate Entry (GAMSAT required)', 'Liberal Arts',
       'Computing and IT', 'Education - Primary Teaching',
       'Education - Primary Teaching - Gaeltacht Applicant',
       'Oideachas â€“ BunmhÃºinteoireacht TrÃ\xad MheÃ¡n na Gaeilg',
       'Oideachas - BunmhÃºinteoireacht TrÃ\xad MheÃ¡n na Gaeilg',
       'Education Studies', 'Early Childhood Education', 'Computing',
       'Computing (Cloud Computing)',
       'Computing (Data Analytics and Big Data)',
       'Computing (Software Development)',
       'Computing (Web and Mobile Technology)',
       'Audio Production and Music Project Management',
       'Business Studies', 'Business Studies (Law)',
       'Business Studies (Human Resource Management)',
       'Marketing (Event Management)', 'Marketing (Digital Media)',
       'Accounting and Finance', 'Business (Information Systems)',
       'Marketing (Digital Media and Cloud Computing)',
       'Business (Cloud Computing)', 'Applied Social Care', 'Psychology',
       'Film and Creative Media', 'Law', 'Business (Psychology)',
       'Education - Early Childhood Education',
       'Education - Primary Teaching (Church of Ireland Ce',
       'Arts (Joint Honours) - Humanities',
       'Post Primary Teacher Education - Religious Educati',
       'Post Primary Teacher Ed - Gaeilge with French/Germ',
       'BA in Jazz and Contemporary Music Performance (aud',
       'Business Studies International', 'Global Business (France)',
       'Global Business (Germany)', 'Global Business (Spain)',
       'Global Business (USA)',
       'Aviation Management / Aviation Management with Pil',
       'GnÃ¡ agus Gaeilge / Business and Irish',
       'Global Business (Canada)', 'Computing for Business',
       'Data Science', 'Actuarial Mathematics',
       'Common Entry into Actuarial and Financial Mathemat',
       'Communication Studies', 'Journalism', 'Multimedia',
       'Applied Language and Translation Studies', 'Analytical Science',
       'Chemical and Pharmaceutical Sciences',
       'Chemical Sciences General Entry (Undenominated Ent',
       'Environmental Science and Technology',
       'Genetics and Cell Biology', 'Physics General Entry (options)',
       'Biological Sciences General Entry (Undenominated E',
       'Electronic and Computer Engineering (with choice o',
       'Mechatronic Engineering', 'Sustainable Systems and Energy',
       'Mechanical and Manufacturing Engineering',
       'Common Entry into Engineering (Undenominated Entry',
       'Sport Science and Health', 'Science Education',
       'Athletic Therapy and Training', 'Physical Education with Biology',
       'Physical Education with Mathematics',
       'Psychology and Mathematics', 'Health and Society',
       'Psychology and Disruptive Technologies',
       'Economics  Politics and Law', 'International Relations',
       'Law and Society (BCL)',
       'Education and Training - Daytime and Flexible Deli',
       'Social Sciences and Cultural Innovation',
       'Marketing  Innovation and Technology',
       'Digital Business and Innovation',
       'Arts (Joint Honours) - Media Studies',
       'Arts (Joint Honours) - Law',
       'Arts (Joint Honours) - International Languages',
       'Climate and Environmental Sustainability',
       'Arts (Joint Honours) - Politics', 'Arts Management',
       'Business Management', 'Graphic Design', 'Art', 'Animation',
       'Photography and Visual Media', 'Creative Computing',
       'New Media Studies', 'Creative Music Production',
       'Interaction and User Experience Design',
       'English and Equality Studies', 'Film', 'Television',
       'Design for Film (degree options)', 'Computing Science',
       'Business - HRM', 'Business (Marketing)', 'Business (HRM)',
       'Communications and Media Production',
       'Design Communication (portfolio)',
       'Interior Architecture (portfolio)', 'Fashion Design (portfolio)',
       'First Year Art and Design (Common Entry portfolio)',
       'Graphic Design and Moving Image Design (portfolio)',
       'Textile and Surface Design and Jewellery and Objec',
       'Education and Design or Fine Art (Second Level Tea',
       'Fine Art (portfolio)', 'Product Design (portfolio)',
       'Visual Culture', 'Illustration (portfolio)',
       'Interaction Design (portfolio)',
       'Computing (Degree Award options)', 'Human Resource Management',
       'Marketing Practice',
       'Technology Management (with specialisations)',
       'Medicine - Undergraduate Entry (HPAT required)', 'Physiotherapy',
       'Medicine - Graduate Entry (GAMSAT required)',
       'Electrical Services and Energy Management',
       'Engineering (Common Entry with Award options)',
       'Engineering (General Entry)',
       'Computer Engineering in Mobile Systems', 'Product Design',
       'Design Technology and Innovation',
       'Sustainable Transport Management',
       'Mechanical Engineering (General Entry)',
       'Electronic Engineering (General Entry)',
       'Architecture (Suitability Test and Interview)',
       'Geographic Science', 'Planning and Environmental Management',
       'Property Economics (Valuation Surveying)',
       'Quantity Surveying and Construction Economics',
       'Sustainable Timber Technology',
       'Analytical Chemistry (Environmental  Forensic and',
       'Chemical Sciences with Medicinal Chemistry',
       'Science (General Entry)', 'Science with Nanotechnology',
       'Computer Science (Infrastructure)',
       'Computer Science (International)',
       'Computing (Information Technology)',
       'Computing with Language (French/German/Spanish)',
       'Computing with Artificial Intelligence Machine Lea',
       'Digital Forensics and Cyber Security',
       'DNA and Forensic Analysis', 'Cloud Computing',
       'Biomedical and Molecular Diagnostics', 'Biomedical Science',
       'Clinical Measurement Science', 'Environmental Health',
       'Human Nutrition and Dietetics', 'Optometry',
       'Public Health Nutrition', 'Pharmaceutical Healthcare',
       'Pharmaceutical Science', 'Physics Technology',
       'Physics with Energy and Environment',
       'Physics with Medical Physics and Bioengineering',
       'Physics with Data Science', 'Food Innovation',
       'Nutraceuticals in Health and Nutrition',
       'Business and Management', 'Economics and Finance',
       'Logistics and Supply Chain Management', 'Business Analytics',
       'Business Computing', 'Law (LLB ) with a Language', 'Law (LLB)',
       'Advertising and Marketing Communications',
       'Digital Marketing Technologies', 'E-Commerce in Retailing',
       'Retail and Services Management',
       'Accounting and Finance (campus options)',
       'Sports Management and Coaching', 'Sports Science and Health',
       'Botanical Cuisine', 'Culinary Arts', 'Culinary Science',
       'International Hospitality and Tourism Management',
       'International Hospitality Management',
       'Tourism and Digital Marketing', 'Event Management',
       'Sports and Leisure Management',
       'Commercial Modern Music (BIMM - assessment/auditio',
       'Drama (Performance  audition)', 'Music (audition)',
       'International Business and Languages',
       'Languages and International Tourism',
       'Design - Visual Communication (portfolio)',
       'Interior Design (portfolio)', 'Photography (portfolio)',
       'Creative Industries and Visual Culture', 'Creative Digital Media',
       'Media Production and Digital Arts', 'Film and Broadcasting',
       'Game Design',
       'Early Childhood Care and Education (campus options',
       'Applied Social Studies in Social Care',
       'Community Development and Youth Work', 'Social Care', 'Music',
       'History', 'Philosophy', 'Clinical Speech and Language Studies',
       'Music Education',
       'Philosophy  Political Science  Economics and Socio',
       'Deaf Studies', 'Law and German',
       'Classics  Ancient History and Archaeology',
       'Early and Modern Irish', 'English Studies', 'European Studies',
       'Drama and Theatre Studies',
       'Ancient and Medieval History and Culture', 'Mathematics',
       'Management Science and Information Systems Studies',
       'Theoretical Physics', 'Engineering with Management',
       'Computer Science  Linguistics and a Language',
       'Middle Eastern and European Languages and Cultures', 'Religion',
       'History of Art and Architecture', 'Medicine (HPAT required)',
       'Dental Science', 'Radiation Therapy', 'Human Health and Disease',
       'Biological and Biomedical Sciences', 'Geography and Geoscience',
       'Physical Sciences', 'Environmental Science and Engineering',
       'Global Business', 'Business  Economic and Social Studies (BESS)',
       'Social Studies (Social Work)', 'Business Studies and French',
       'Business Studies and German', 'Business Studies and Russian',
       'Business Studies and Polish', 'Business Studies and Spanish',
       'General Nursing (Meath and St James`s)',
       'General Nursing (Adelaide School of Nursing)', 'Architecture',
       'Landscape Architecture', 'City Planning and Environmental Policy',
       'Computer Science (Common Entry)',
       'Actuarial and Financial Studies', 'Sustainability',
       'Agricultural Science (options)', 'Human Nutrition',
       'Veterinary Medicine - Undergraduate Entry',
       'Veterinary Medicine - Graduate Entry (GAMSAT requi',
       'Veterinary Nursing', 'Radiography',
       'Radiography - Graduate Entry', 'Health and Performance Science',
       'Biomedical  Health and Life Sciences', 'Joint Honours (options)',
       'Humanities (options)', 'Modern Languages (options)',
       'Law (options)', 'Commerce International (options)',
       'Social Sciences (options)', 'Economics',
       'Social Policy and Sociology', 'Computing in Games Development',
       'Computing in Software Development',
       'Augmented and Virtual Reality', 'Building Surveying',
       'Electrical and Electronic Engineering',
       'International Tourism Management', 'Arts', 'Creative Media',
       'Film and Television Production', 'Audio and Music Production',
       'Early Childhood Studies', 'Health and Physical Activity',
       'Agriculture (Award options)', 'Science (Award options)',
       'Sustainable Agriculture', 'Agri-Food Production',
       'Biopharmaceutical Science', 'Environmental Science',
       'Marketing and Sales', 'Finance and Economics',
       'Business with Entrepreneurship',
       'Rural Enterprise and Agri-Business', 'Film and Documentary',
       'Heritage Studies', 'Contemporary Art (portfolio)', 'Design',
       'Education (Art  Design and Graphics)',
       'International Hotel Management',
       'Culinary and Gastronomic Science',
       'Event Management with Public Relations',
       'Software and Electronic Engineering', 'Energy Engineering',
       'Agricultural Engineering',
       'Engineering Common Entry to Manu/Agri/Biomed/Energ',
       'Manufacturing Engineering Design',
       'Applied Freshwater and Marine Biology',
       'Applied Biology and Biopharmaceutical Science',
       'Chemical and Pharmaceutical Science',
       'Physics and Instrumentation', 'Science (Undenominated)',
       'Medical Science', 'Forensic Science and Analysis',
       'Computing and Digital Media',
       'Agriculture and Environmental Management', 'Psychiatric Nursing',
       'Outdoor Education', 'History and Geography',
       'Geography and Outdoor Education',
       'Community Development and Youth Work (Level 8)',
       'Education (Design Graphics and Construction)',
       'Furniture Design and Manufacture',
       'Furniture Making and Architectural Woodworking',
       'Furniture and Digital Manufacturing',
       'Furniture Design  Making and Technology - Common E',
       'Arts (Joint-Honours)', 'BSc (Psychology)', 'Arts (History)',
       'Arts (Mathematics and Education)',
       'Arts (Children and Youth Studies - options)',
       'Arts (English and Creative Writing)', 'Arts with Human Rights',
       'Arts with Performing Arts Studies',
       'Arts (Drama  Theatre and Performance Studies)',
       'Arts (Journalism)', 'Na DÃ¡na (CumarsÃ¡id agus Gaeilge)',
       'Applied Social Sciences', 'Arts (Digital Arts and Technology)',
       'Arts (Film and Digital Media)', 'Arts (Global Languages)',
       'Arts (Global Experience)', 'Arts (Music)',
       'Government (Politics  Economics and Law)',
       'Education (Computer Science and Mathematical Studi',
       'Geography and Geosystems', 'Arts (Global Media)',
       'Na DÃ¡na (LÃ©ann Teanga - options)',
       'Commerce (International) with Spanish',
       'Business Information Systems (Work Placement and O',
       'Commerce (Accounting) including optional Global Ex',
       'Commerce (Gaeilge)', 'Commerce (Global Experience)', 'Law (BCL)',
       'Law (BCL) and Human Rights', 'Law and Taxation',
       'Law (BCL)  Criminology and Criminal Justice',
       'Business Studies in International Hotel Management',
       'Commerce in International Hotel Management (interv', 'Science',
       'Financial Mathematics and Economics', 'Marine Science',
       'Environmental Health and Safety', 'Earth and Ocean Sciences',
       'Biopharmaceutical Chemistry', 'Mathematical Science',
       'Physics (Degree options: Applied Astrophysics Biom',
       'Genetics and Genomics', 'Agricultural Sciences',
       'Computer Science and Information Technology',
       'Engineering (Undenominated)',
       'Electronic and Computer Engineering',
       'Project and Construction Management',
       'Energy Systems Engineering',
       'Medicine (five year/six year course  HPAT required',
       'Podiatric Medicine', 'General Nursing (Galway and Portiuncula)',

In [92]:
len(df2021.Title.unique())

708

In [93]:
df2021['points_R1_2021'].to_frame()

       points_R1_2021
Code
AL801           300.0
AL802           313.0
AL803           350.0
AL805           321.0
AL810           328.0
...               ...
WD211           270.0
WD212           262.0
WD230           230.0
WD231           266.0
WD232           261.0

[948 rows x 1 columns]

In [94]:
df2021.head()

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300.0,NaN
AL802,Software Design in Artificial Intelligence for...,313.0,NaN
AL803,Software Design for Mobile Apps and Connected ...,350.0,NaN
AL805,Computer Engineering for Network Infrastructure,321.0,NaN
AL810,Quantity Surveying,328.0,NaN

### 2020 Courses

In [95]:
df2020.COURSE_TITLE.unique()

array(['International Business', 'Liberal Arts',
       'First Year Art & Design (Common Entry,portfolio)',
       'Graphic Design and Moving Image Design (portfolio)',
       'Textile & Surface Design and Jewellery & Objects (portfolio)',
       'Education & Design or Fine Art (Second Level Teaching,portfolio))',
       'Fine Art (portfolio)', 'Fashion Design (portfolio)',
       'Product Design (portfolio)', 'Visual Culture',
       'Illustration (portfolio)', 'Interaction Design (portfolio)',
       'Software Design', 'Computer Engineering',
       'Mechanical Engineering', 'Civil Engineering',
       'Music and Instrument Technology', 'Pharmacy Technician',
       'Dental Nursing', 'Applied Science', 'Business', 'Culinary Arts',
       'Bar Supervision', 'Business (Sport and Recreation)',
       'Computer Engineering with Network Infrastructure',
       'Software Design with Artificial Intelligence for Cloud Computing',
       'Software Design with Virtual Reality and Gaming',
       'Software Design with Mobile Apps and Connected Devices',
       'Mechanical Engineering and Renewable Energy',
       'Automation and Robotics',
       'Engineering (Common Entry to Mechanical/Renewable/Mechatronic Eng)',
       'Music and Sound Engineering', 'Biotechnology',
       'Veterinary Nursing',
       'Pharmaceutical Sciences (Drug Development and Analysis)',
       'Exercise and Health Science', 'Digital Marketing',
       'Hotel and Leisure Management', 'Graphic Design (portfolio)',
       'Early Years Care and Education',
       'Applied Social Studies in Social Care', 'Quantity Surveying',
       'Mechanical and Polymer Engineering', 'General Nursing',
       'Psychiatric Nursing', 'Nutrition and Health Science',
       'Sports Science with Exercise Physiology', 'Microbiology',
       'Pharmaceutical Sciences', 'Athletic and Rehabilitation Therapy',
       'Bioveterinary Science', 'Physical Activity and Health Science',
       'Business and Law', 'Accounting',
       'Sport Management (with international placement)',
       'Hospitality Management (with international placement)',
       'Social Care Practice', 'Animation and Illustration (portfolio)',
       'Graphic and Digital Design (portfolio)', 'Applied Psychology',
       'Education, Home Economics and Biology - with concurrent Teacher Ed',
       'Education, Home Economics and Religious Ed - with concurrent Teacher Ed',
       'Education, Home Economics and Irish - with concurrent Teacher Ed',
       'Nutrition, Food and Business Management', 'Home Economics',
       'Intellectual Disability Nursing',
       'Counselling Skills and Psychotherapy Studies',
       'Counselling Skills and Addiction Studies',
       'Counselling Skills and Youth Studies',
       'Counselling and Psychotherapy',
       'Counselling and Addiction Studies',
       'Counselling and Youth Studies', 'Arts - 3 years',
       'Social Science',
       'Arts with Music - 3 or 4 years (BMus or Chinese/European/Int`l Pathway)',
       'Film and Screen Media - 3 years or 4 years (International Pathway)',
       'Geographical and Archaeological Sciences - 3 or 4 years (Int`l Pathway)',
       'Arts International - 4 years',
       'English - 3 years or 4 years (International Pathway)',
       'World Languages', 'Early Years and Childhood Studies',
       'Theatre and Performative Practices - 3 or 4 years (Int`l Pathway)',
       'Criminology - 3 years or 4 years (International Pathway)',
       'Social Science (Youth and Community Work) - 3 years',
       'Social Work - Mature Applicants only',
       'Digital Humanities and IT - 3 or 4 years (Work Exper. or Int`l Pathway)',
       'Psychology and Computing - 3 or 4 years (Work Experience Pathway)',
       'Government and Political Science', 'Anthropology',
       'Education - Gaeilge', 'Sports Studies and Physical Education',
       'Commerce', 'Business Information Systems', 'Finance',
       'Commerce (International) with French',
       'Commerce (International) with German',
       'Commerce (International) with Italian',
       'Commerce (International) with Hispanic Studies',
       'Commerce (International) with Irish',
       'Commerce (International) with Chinese Studies',
       'Economics (through Transformational Learning) 3 or 4 years Int`l Pathway',
       'Food Marketing and Entrepreneurship', 'International Development',
       'Law (Pathways) -  3 or 4 years', 'Law and French',
       'Law and Irish', 'Law and Business', 'Computer Science',
       'Biological and Chemical Sciences',
       'Biological, Earth and Environmental Sciences', 'Genetics',
       'Chemical Sciences', 'Mathematical Sciences',
       'Physics and Astrophysics',
       'Industrial Physics - Offered jointly by UCC and CIT',
       'Data Science and Analytics', 'Agricultural Science',
       'Nutritional Sciences', 'Food Science', 'Engineering',
       'Architecture - Offered jointly by UCC and CIT',
       'Medicine (Undergraduate Entry - HPAT required)', 'Dentistry',
       'Pharmacy', 'Occupational Therapy', 'Speech and Language Therapy',
       'Public Health Sciences', 'Medical and Health Sciences',
       'Children`s and General Nursing (Integrated)',
       'Mental Health Nursing', 'Midwifery',
       'Medicine  - Graduate Entry (GAMSAT required)',
       'Education - Primary Teaching',
       'Education - Primary Teaching - Gaeltacht Applicants',
       'Oideachas - Bunmhúinteoireacht Trí Mheán na Gaeilge – Gaeltacht',
       'Education Studies', 'Early Childhood Education',
       'Applied Physics and Instrumentation', 'Applied Biosciences',
       'Analytical and Pharmaceutical Chemistry',
       'Agriculture (Year 1 - 2 days in Clonakilty Agri College & 3 days in CIT)',
       'Software Development', 'Business (Common Entry)',
       'Business Administration', 'Social Care Work',
       'Recreation and Leisure Management', 'Community Development',
       'Tourism Management', 'Hospitality Management',
       'Automotive Technology and Management', 'Construction',
       'Interior Architecture', 'Environmental Engineering',
       'Electronic Engineering', 'Electrical Engineering',
       'Biomedical Engineering', 'Architectural Technology',
       'Nautical Science at National Maritime College of Ireland',
       'Marine Engineering at National Maritime College of Ireland',
       'Chemical and Biopharmaceutical Engineering',
       'Structural Engineering',
       'Automotive Business Management and Technology',
       'Creative Digital Media', 'Computer Systems',
       'Music at CIT Cork School of Music',
       'Popular Music: Electric Bass Guitar at CIT Cork School of Music',
       'Popular Music: Drums at CIT Cork School of Music',
       'Popular Music: Electric Guitar at CIT Cork School of Music',
       'Popular Music: Keyboards at CIT Cork School of Music',
       'Popular Music: Voice at CIT Cork School of Music',
       'Musical Theatre at CIT Cork School of Music',
       'Contemporary Applied Art (Ceramics, Glass, Textiles) at CIT Crawford',
       'Fine Art at CIT Crawford College of Art and Design',
       'Photography with New Media', 'Physical Sciences (Common Entry)',
       'IT Management',
       'Biomedical Science - Offered jointly by CIT and UCC',
       'Pharmaceutical Biotechnology',
       'Biological Sciences (Common Entry)',
       'Analytical Chemistry with Quality Assurance',
       'Instrument Engineering',
       'Environmental Science and Sustainable Technology',
       'Agri-Biosciences', 'Marketing',
       'International Business with Language',
       'Sport and Exercise Management', 'Montessori Education',
       'Engineering (Common Entry)', 'Sustainable Energy Engineering',
       'Construction Management', 'Visual Communications',
       'Early Childhood Education and Care',
       'Beverage Industry Management', 'Culinary Studies',
       'Hospitality Studies',
       'Theatre and Drama Studies at CIT Cork School of Music',
       'Marine Electrotechnology at National Maritime College of Ireland',
       'Information Technology', 'Computing in Information Technology',
       'Business (options)',
       'Sustainable Farm Management and Agribusiness', 'Art (portfolio)',
       'Visual Communications and Design', 'Tourism and Event Management',
       'Applied Social Studies in Professional Social Care',
       'Physiology and Health Science', 'Analytical Science',
       'Science (options)', 'Pharmacy Technician Studies', 'Biosciences',
       'Science - Applied Biology or Applied Chemistry',
       'Brewing and Distilling', 'Sport and Exercise Science',
       'Strength and Conditioning',
       'Sport Rehabilitation and Athletic Therapy',
       'Computing - Applications or Programming',
       'Computer Games Development', 'Information Technology Management',
       'Cybercrime and IT Security',
       'Computing in Interactive Digital Art and Design',
       'Construction Management with Building Services',
       'Construction (options)', 'Aircraft Systems',
       'TV and Media Production', 'Electronic Systems',
       'Aerospace Engineering', 'Legal Studies', 'Industrial Design',
       'Law - LLB', 'Professional Social Care Practice',
       'Product Design Innovation',
       'Sport Coaching and Business Management - GAA (portfolio)',
       'Media and Public Relations',
       'Sport Coaching and Business Management - Rugby (portfolio)',
       'Sport Coaching and Business Management - Soccer (portfolio)',
       'Digital Marketing with Analytics',
       'Sports Management and Coaching (options, portfolio)',
       'Business with Law', 'Computing', 'Computing (Cloud Computing)',
       'Computing (Data Analytics and Big Data)',
       'Computing (Software Development)',
       'Computing (Web and Mobile Technology)',
       'Audio Production and Music Project Management',
       'Business Studies', 'Business Studies (Law)',
       'Business Studies (Human Resource Management)',
       'Financial Services', 'Marketing (Event Management)',
       'Accounting and Finance', 'Business (Information Systems)',
       'Business (Cloud Computing)', 'Applied Social Care',
       'Sound Engineering and Music Production', 'Psychology', 'Arts',
       'Film and Creative Media', 'Law', 'Business (Psychology)',
       'Business in Accounting', 'Business in Marketing',
       'Business in Information Technology',
       'Education - Early Childhood Education',
       'Education - Primary Teaching (Church of Ireland Centre formerly CICE)',
       'Arts (Joint Honours) - Humanities',
       'Post Primary Teacher Education - Religious Education and English',
       'Post Primary Teacher Education - Religious Education and History',
       'Post Primary Teacher Education - Religious Education and Music',
       'Post Primary Teacher Ed - Gaeilge with French/German/Spanish',
       'BA in Jazz and Contemporary Music Performance (audition)',
       'Business Studies International', 'Global Business (France)',
       'Global Business (Germany)', 'Global Business (Spain)',
       'Global Business (USA)',
       'Aviation Management / Aviation Management with Pilot Studies',
       'Gnó agus Gaeilge / Business and Irish',
       'Global Business (Canada)', 'Enterprise Computing',
       'Computer Applications', 'Data Science', 'Actuarial Mathematics',
       'Common Entry into Actuarial and Financial Mathematics',
       'Communication Studies', 'Journalism', 'Multimedia',
       'Applied Language and Translation Studies',
       'Chemical and Pharmaceutical Sciences',
       'Environmental Science and Technology',
       'Genetics and Cell Biology', 'Physics General Entry (options)',
       'Electronic and Computer Engineering (with choice of four majors)',
       'Mechatronic Engineering',
       'Mechanical and Manufacturing Engineering',
       'Common Entry into Engineering (Undenominated Entry)',
       'Common Entry into Science (Undenominated Entry)',
       'Sport Science and Health', 'Science Education',
       'Athletic Therapy and Training', 'Physical Education with Biology',
       'Physical Education with Mathematics', 'Health and Society',
       'Economics, Politics and Law', 'International Relations',
       'Law and Society (BCL)',
       'Education and Training - Daytime and Flexible Delivery Mode (full-time)',
       'Social Sciences and Cultural Innovation',
       'Gaeilge, Iriseoireacht agus na Meáin Dhigiteacha',
       'Marketing, Innovation and Technology',
       'Arts (Joint Honours) - Media Studies',
       'Arts (Joint Honours) - Law',
       'Arts (Joint Honours) - International Languages',
       'Arts (Joint Honours) - Politics', 'Business and Management',
       'Business and Technology',
       'Digital Marketing and Public Relations',
       'Augmented and Virtual Reality', 'Building Surveying',
       'Engineering - Electrical and Electronic Systems',
       'Engineering - Mechanical Engineering',
       'Engineering - Civil Engineering', 'Event Management',
       'Sport, Exercise and Enterprise',
       'Community Youth Work (interview)', 'Audio and Music Production',
       'Creative Media', 'Theatre & Film Practice',
       'Musical Theatre (audition)', 'Science - Bioscience',
       'Science - Pharmaceutical Science',
       'Computing in Games Development',
       'Computing in Software Development',
       'Electrical & Electronic Engineering',
       'International Tourism Management', 'Music (audition)',
       'Social Care', 'Film and Television Production',
       'Early Childhood Studies', 'Health and Physical Activity',
       'Agriculture (Award options)', 'Science (Award options)',
       'Sustainable Agriculture', 'Agri-Food Production',
       'Biopharmaceutical Science', 'Environmental Science',
       'Business - Applied Entrepreneurship',
       'English, Media and Cultural Studies', 'Arts Management',
       'Business Management', 'Visual Communication Design', 'Art',
       '3D Design, Modelmaking and Digital Art',
       'Design for Stage and Screen (Costume Design)',
       'Design for Stage and Screen (Character Makeup Design)',
       'Design for Stage and Screen (Production Design)', 'Animation',
       'Photography', 'Creative Computing', 'New Media Studies',
       'Creative Music Production',
       'Interaction and User Experience Design',
       'English and Equality Studies', 'Architecture',
       'Landscape Architecture', 'City Planning and Environmental Policy',
       'Computer Science (Common Entry)',
       'Actuarial and Financial Studies', 'Sustainability',
       'Agricultural Science (options)', 'Dairy Business',
       'Agri - Environmental Sciences', 'Human Nutrition', 'Forestry',
       'Horticulture, Landscape and Sportsturf Management',
       'Veterinary Medicine - Undergraduate Entry',
       'Veterinary Medicine - Graduate Entry (GAMSAT required)',
       'Medicine - Undergraduate Entry (HPAT required)',
       'Medicine - Graduate Entry (GAMSAT required)', 'Radiography',
       'Radiography - Graduate Entry', 'Physiotherapy',
       'Health and Performance Science',
       'Biomedical, Health and Life Sciences', 'Joint Honours (options)',
       'Humanities (options)', 'Modern Languages (options)',
       'Law (options)', 'Commerce International (options)',
       'Economics and Finance', 'Social Sciences (options)', 'Economics',
       'Social Policy and Sociology',
       'Computing and Multimedia (Level 6 - Higher Certificate)',
       'Computing and Multimedia (Level 6 - Certificate)',
       'Computing and Multimedia (Level 7)',
       'Rural Enterprise and Agri-Business', 'Marketing and Sales',
       'Business with Entrepreneurship', 'Finance and Economics',
       'Heritage Studies', 'Contemporary Art', 'Design',
       'Film and Documentary', 'Education (Art, Design and Graphics)',
       'Business in Tourism', 'Hotel and Hospitality Operations',
       'Hotel and Catering Management',
       'Event Management with Public Relations',
       'Culinary and Gastronomic Science',
       'International Hotel Management',
       'Quantity Surveying and Construction Economics',
       'Software and Electronic Engineering', 'Energy Engineering',
       'Agricultural Engineering',
       'Engineering (Common Entry to Manu/Agri/Biomed/Energy/Mech Eng)',
       'Manufacturing Engineering Design',
       'Engineering (Common entry to Agri/Biomed/Energy/Mech Eng)',
       'Applied Freshwater and Marine Biology',
       'Applied Biology and Biopharmaceutical Science',
       'Chemical and Pharmaceutical Science',
       'Physics and Instrumentation', 'Science (Undenominated)',
       'Computing and Digital Media',
       'Agriculture and Environmental Management', 'Medical Science',
       'Forensic Science and Analysis', 'Public Health Nutrition',
       'History & Geography', 'Outdoor Education and Leisure',
       'Culture and Environment', 'Outdoor Education',
       'History and Geography', 'Geography and Outdoor Education',
       'Furniture Design, Making and Technology - Common Entry',
       'Education (Design Graphics and Construction)',
       'Computing Science', 'Communications and Media Production',
       'Accounting & Finance', 'Business Studies - HRM',
       'International Hospitality Management', 'Business Studies (HRM)',
       'Business Studies (Marketing)',
       'Music Production for Games (portfolio)',
       'Design Communication (portfolio)', 'Communications',
       'Film and TV Production', 'Photographic Media',
       'Interior Architecture (portfolio)', 'Interior Design', 'Fashion',
       'Arts (Joint-Honours)', 'Arts (Psychology)', 'Arts (History)',
       'Na Dána (Gaeilge agus Léann an Aistriúcháin)',
       'Arts (Mathematics and Education)', 'Arts with Children`s Studies',
       'Arts with Creative Writing', 'Arts with Film Studies',
       'Arts with Human Rights', 'Arts with Performing Arts Studies',
       'Arts (Drama, Theatre and Performance Studies)',
       'Arts (Journalism)',
       'Arts (Child, Youth and Family: Policy and Practice)',
       'Arts (Children`s Studies)', 'Na Dána (Cumarsáid agus Gaeilge)',
       'Applied Social Sciences', 'Arts (Arts with Data Science)',
       'Arts (Digital Arts and Technology)',
       'Arts (English and Media Studies)',
       'Arts (Film and Digital Media)', 'Arts (Global Languages)',
       'Arts (International)', 'Arts (Music)',
       'Arts (History and Globalisation Studies)',
       'Government (Politics, Economics and Law)',
       'Education (Computer Science and Mathematical Studies)',
       'Geography and Geosystems',
       'Commerce (International) with Spanish',
       'Business Information Systems (Work Placement & Optional Int`l Study)',
       'Commerce (Accounting) including optional Global Experience year',
       'Commerce (Gaeilge)', 'Commerce (Global Experience)', 'Law (BCL)',
       'Law (BCL) and Human Rights', 'Law and Taxation',
       'Law (BCL), Criminology and Criminal Justice',
       'Business Studies (International Hotel Management, interview)',
       'Commerce (International Hotel Management, interview)', 'Science',
       'Biomedical Science', 'Financial Mathematics and Economics',
       'Marine Science', 'Environmental Health and Safety',
       'Earth and Ocean Sciences', 'Biopharmaceutical Chemistry',
       'Mathematical Science',
       'Physics (Degree options: Applied,Astrophysics,Biomedical,Theoretical)',
       'Genetics and Genomics',
       'Computer Science and Information Technology',
       'Engineering (Undenominated)',
       'Electronic and Computer Engineering',
       'Project and Construction Management',
       'Energy Systems Engineering',
       'Electrical and Electronic Engineering',
       'Medicine (five year/six year course, HPAT required)',
       'Podiatric Medicine', 'General Nursing (Galway and Portiuncula)',
       'Art and Design (Common Entry, portfolio)',

In [96]:
len(df2020.COURSE_TITLE.unique())

956

In [97]:
df2020.head()

,CATEGORY_(i.e.ISCED_description),COURSE_TITLE,R1_POINTS,R1_Random_*,R2_POINTS,R2_Random*,EOS,EOS_Random_*,EOS_Mid-point,LEVEL,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
COURSE_CODE2,,,,,,,,,,,,,,,,,,,,,
AC120,Business and administration,International Business,209,NaN,NaN,NaN,209,NaN,280,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AC137,Humanities (except languages),Liberal Arts,252,NaN,NaN,NaN,252,NaN,270,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AD101,Arts,"First Year Art & Design (Common Entry,portfolio)",,NaN,NaN,NaN,,NaN,,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AD102,Arts,Graphic Design and Moving Image Design (portfo...,,NaN,NaN,NaN,,NaN,,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AD103,Arts,Textile & Surface Design and Jewellery & Objec...,,NaN,NaN,NaN,,NaN,,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df2020['R1_POINTS'].to_frame()

             R1_POINTS
COURSE_CODE2
AC120              209
AC137              252
AD101
AD102
AD103
...                ...
WD208              188
WD210              279
WD211              271
WD212              270
WD230              253

[1464 rows x 1 columns]

In [99]:
df2021.Title.unique() == df2020['COURSE_TITLE'].unique()

/var/folders/51/_5_9h43n1rj7z1sw9wk7030m0000gn/T/ipykernel_57361/7370755.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df2021.Title.unique() == df2020['COURSE_TITLE'].unique()

False

Comparing the unique titles from 2021 and 2020. On analysis it was found there more unique courses in 2020 than in 2021. Courses removed/merged together

Adding 2021 and 2020 R1 points to one data set

### Basic Maths on the 2021/2020 Data

In [100]:
# Trying to find max and min scores for R1 in 2020 and 2021
df2021.points_R1_2021.max()

1028.0

In [101]:
df2021.points_R1_2021.min()

57.0

It was found that CR125 had 1028 points for entry into this course as it took into account the portfolio on the Leaving Certificate points. In order not to skew the data this course will be removed from the analysis as we cannot say how many points were required from the Leaving Certificate and how many required from the portfolio.

In [106]:
df2021 = df2021.loc[df2021['points_R1_2021'] != "1028.0"]

In [107]:
df2021

,Title,points_R1_2021,points_R2_2021
Code,,,
AL801,Software Design for Virtual Reality and Gaming,300.0,NaN
AL802,Software Design in Artificial Intelligence for...,313.0,NaN
AL803,Software Design for Mobile Apps and Connected ...,350.0,NaN
AL805,Computer Engineering for Network Infrastructure,321.0,NaN
AL810,Quantity Surveying,328.0,NaN
...,...,...,...
WD211,Creative Computing,270.0,NaN
WD212,Recreation and Sport Management,262.0,NaN
WD230,Mechanical and Manufacturing Engineering,230.0,230
WD231,Early Childhood Care and Education,266.0,NaN
WD232,Business Information Systems,261.0,261

## Comparing the 2019 , 2018 and 2017 Data

### 2019 Courses

In [113]:
df2019.Title.unique()

array(['Software Design with Virtual Reality and Gaming',
       'Software Design with Cloud Computing',
       'Software Design with Mobile Apps and Connected Devices',
       'Network Management and Cloud Infrastructure',
       'Quantity Surveying', 'Mechanical and Polymer Engineering',
       'General Nursing', 'Psychiatric Nursing',
       'Nutrition and Health Science',
       'Sports Science with Exercise Physiology', 'Biotechnology',
       'Microbiology', 'Pharmaceutical Sciences',
       'Athletic and Rehabilitation Therapy', 'Bioveterinary Science',
       'Physical Activity and Health Science', 'Business',
       'Business and Law', 'Accounting (with optional placement)',
       'Accounting and Law',
       'Hospitality Management (with International placement)',
       'Digital Marketing', 'Social Care Practice',
       'Animation and Illustration (portfolio)',
       'Graphic and Digital Design (portfolio)',
       'Early Years Care and Education', 'Applied Psychology',
       'Business (options, Wexford)',
       'Early Childhood Education and Care (Wexford)',
       'Art (portfolio, Wexford)',
       'Tourism and Event Management (Wexford)',
       'Applied Social Studies - Professional Social Care (Wexford)',
       'Sustainable Farm Management and Agribusiness (Wexford)',
       'Visual Communications and Design (Wexford)', 'Science (options)',
       'Brewing and Distilling', 'Sport Science (options)',
       'Sport Rehabilitation and Athletic Therapy',
       'Computer Games Development', 'Software Development',
       'Information Technology Management', 'Cybercrime and IT Security',
       'Computing in Interactive Digital Art and Design',
       'Construction (options)', 'Architectural Technology',
       'Civil Engineering', 'Mechanical Engineering',
       'Electronic Systems', 'Aerospace Engineering',
       'TV and Media Production', 'Law - LLB',
       'Product Design Innovation', 'Early Childhood Education and Care',
       'Applied Social Studies - Professional Social Care',
       'Media and Public Relations', 'Digital Marketing with Analytics',
       'Sports Management and Coaching (options, portfolio)',
       'Business (options)', 'Business with Law', 'Accounting',
       'Social, Political and Community Studies',
       'Arts and Humanities (fulfils Teaching Council requirements)',
       'English and History (fulfils Teaching Council requirements)',
       'Chemical and Biopharmaceutical Engineering',
       'Structural Engineering',
       'Automotive Business Management and Technology',
       'Creative Digital Media', 'Computer Systems',
       'Music at CIT Cork School of Music',
       'Popular Music: Electric Bass Guitar at CIT Cork School of Music',
       'Popular Music: Drums at CIT Cork School of Music',
       'Popular Music: Electric Guitar at CIT Cork School of Music',
       'Popular Music: Keyboards at CIT Cork School of Music',
       'Popular Music: Voice at CIT Cork School of Music',
       'Musical Theatre', 'Business Information Systems',
       'Contemporary Applied Art (Ceramics, Glass, Textiles) at CIT Crawford',
       'Fine Art at CIT Crawford College of Art and Design',
       'Photography with New Media', 'Physical Sciences (Common Entry)',
       'IT Management',
       'Biomedical Science (Offered jointly by CIT and UCC)',
       'Pharmaceutical Biotechnology',
       'Biological Sciences (Common Entry)',
       'Analytical Chemistry with Quality Assurance',
       'Instrument Engineering',
       'Environmental Science and Sustainable Technology',
       'Agri-Biosciences', 'Marketing',
       'International Business with Language',
       'Engineering (Common Entry)', 'Sustainable Energy Engineering',
       'Biomedical Engineering', 'Interior Architecture',
       'Construction Management', 'Electrical Engineering',
       'Electronic Engineering', 'Visual Communications',
       'Tourism Management',
       'Theatre and Drama Studies at CIT Cork School of Music',
       'Arts - 3 years', 'Social Science',
       "Arts with Music - 3 or 4 years (BMus or Chinese/European/Int'l Pathway)",
       'Film and Screen Media - 3 years or 4 years (International Pathway)',
       "Geographical and Archaeological Sciences - 3 or 4 years (Int'l Pathway)",
       'Arts International - 4 years',
       'English - 3 years or 4 years (International Pathway)',
       'World Languages', 'Early Years and Childhood Studies',
       "Theatre and Performative Practices - 3 or 4 years (Int'l Pathway)",
       'Criminology - 3 years or 4 years (International Pathway)',
       'Social Science (Youth and Community Work) - 3 years',
       'Social Work - Mature Applicants only',
       'Sports Studies and Physical Education',
       "Digital Humanities and IT - 3 or 4 years (Work Exper. or Int'l Pathway)",
       'Psychology and Computing - 3 or 4 years (Work Experience Pathway)',
       'Government and Political Science', 'Commerce', 'Finance',
       'Commerce (International) with French',
       'Commerce (International) with German',
       'Commerce (International) with Italian',
       'Commerce (International) with Hispanic Studies',
       'Commerce (International) with Irish',
       'Commerce (International) with Chinese Studies',
       "Economics (Transformational Learning) - 3 or 4 years (Int'l Pathway)",
       'Law (Pathways) -  3 or 4 years', 'Law and French',
       'Law and Irish', 'Law and Business', 'Computer Science',
       'Biological and Chemical Sciences',
       'Biological, Earth and Environmental Sciences', 'Genetics',
       'Chemical Sciences', 'Mathematical Sciences',
       'Physics and Astrophysics',
       'Industrial Physics (offered jointly by UCC and CIT)',
       'Data Science and Analytics', 'Agricultural Science',
       'Food Marketing and Entrepreneurship', 'Nutritional Sciences',
       'Food Science', 'International Development and Food Policy',
       'Engineering', 'Architecture (offered jointly by UCC and CIT)',
       'Medicine (Undergraduate Entry - HPAT required)', 'Dentistry',
       'Pharmacy', 'Occupational Therapy', 'Speech and Language Therapy',
       'Public Health Sciences', 'Medical and Health Sciences',
       "Children's and General Nursing (Integrated)",
       'Mental Health Nursing', 'Intellectual Disability Nursing',
       'Midwifery', 'Medicine  Graduate Entry (GAMSAT required)',
       'International Business', 'Liberal Arts', 'Information Technology',
       'Education - Primary Teaching',
       'Education - Primary Teaching - Gaeltacht Applicants',
       'Oideachas - Bunmhúinteoireacht Trí Mheán na Gaeilge',
       'Oideachas - Bunmhúinteoireacht Trí Mheán na Gaeilge (daltaí Gaeltachta)',
       'Education Studies', 'Early Childhood Education', 'Computing',
       'Computing (Cloud Computing)',
       'Computing (Data Analytics and Big Data)',
       'Computing (Software Development)',
       'Computing (Web and Mobile Technology)',
       'Audio Production and Music Project Management',
       'Business Studies', 'Business Studies (Law)',
       'Business Studies (Human Resource Management)',
       'Financial Services', 'Event Management',
       'Marketing (Digital Media)', 'Accounting and Finance',
       'Marketing (Digital Media and Cloud Computing)',
       'Business Information Systems (Cloud Computing)',
       'Applied Social Care', 'Psychology', 'Film', 'Law',
       'Business (Psychology)', 'Education - Early Childhood Education',
       'Education - Primary Teaching (Church of Ireland Centre formerly CICE)',
       'Education - Primary Teaching - Irish Sign Language',
       'Arts (Joint Honours) - Humanities',
       'Post Primary Teacher Education - Religious Education and English',
       'Post Primary Teacher Education - Religious Education and History',
       'Post Primary Teacher Education - Religious Education and Music',
       'Post Primary Teacher Ed - Gaeilge with French/German/Spanish',
       'BA in Jazz and Contemporary Music Performance',
       'Business Studies International', 'Global Business (France)',
       'Global Business (Germany)', 'Global Business (Spain)',
       'Global Business (USA)',
       'Aviation Management / Aviation Management with Pilot Studies',
       'Gnó agus Gaeilge / Business and Irish',
       'Global Business (Canada)', 'Enterprise Computing',
       'Computer Applications', 'Data Science', 'Actuarial Mathematics',
       'Common Entry into Actuarial and Financial Mathematics',
       'Communication Studies', 'Journalism', 'Multimedia',
       'Applied Language and Translation Studies', 'Analytical Science',
       'Chemical and Pharmaceutical Sciences',
       'Environmental Science and Technology', 'Physics with Astronomy',
       'Genetics and Cell Biology', 'Applied Physics',
       'Physics with Biomedical Sciences',
       'Electronic and Computer Engineering (with choice of four majors)',
       'Mechatronic Engineering',
       'Mechanical and Manufacturing Engineering',
       'Common Entry into Engineering (Undenominated Entry)',
       'Common Entry into Science (Undenominated Entry)',
       'Sport Science and Health', 'Science Education',
       'Athletic Therapy and Training', 'Physical Education with Biology',
       'Physical Education with Mathematics', 'Health and Society',
       'Economics, Politics and Law', 'International Relations',
       'Law and Society (BCL)',
       'Education and Training - Daytime Delivery Mode (full-time)',
       'Social Sciences and Cultural Innovation',
       'Marketing, Innovation and Technology',
       'Arts (Joint Honours) - Media Studies',
       'Arts (Joint Honours) - Law',
       'Arts (Joint Honours) - International Languages',
       'Arts (Joint Honours) - Politics', 'Product Design',
       'Transport Operations and Technology',
       'Electrical Services and Energy Management',
       'Engineering (General Entry)', 'Architecture (test and interview)',
       'Planning and Environmental Management',
       'Property Economics (Valuation Surveying)',
       'Quantity Surveying and Construction Economics',
       'Geographic Science', 'Science (General Entry)',
       'Analytical Chemistry (Environmental Forensic and Pharmaceutical)',
       'Biomedical Science', 'Biomedical and Molecular Diagnostics',
       'Computer Science (Infrastructure)', 'Industrial Mathematics',
       'Physics with Energy and Environment', 'Physics Technology',
       'Human Nutrition and Dietetics', 'Optometry',
       'Public Health Nutrition', 'Science with Nanotechnology',
       'Clinical Measurement Science',
       'Physics with Medical Physics and Bioengineering',
       'Computer Science (International)',
       'Chemical Sciences with Medicinal Chemistry', 'Business Analytics',
       'E-Commerce in Retailing', 'Retail and Services Management',
       'Business Computing', 'Logistics and Supply Chain Management',
       'Business and Management', 'Human Resource Management',
       'Economics and Finance', 'International Hospitality Management',
       'Culinary Science', 'Culinary Arts', 'Tourism Marketing',
       'Culinary Entrepreneurship',
       'Nutraceuticals in Health and Nutrition', 'Food Innovation',
       'Pharmaceutical Healthcare', 'Environmental Health', 'Music',
       'Film and Broadcasting', 'Commercial Modern Music', 'Game Design',
       'Languages and English Studies',
       'Languages and International Tourism', 'Drama (Performance)',
       'Law (LL.B.)', 'Contemporary Visual Culture', 'Interior Design',
       'Design - Visual Communication', 'Fine Art',
       'International Business and Languages', 'Photography',
       'Social Care', 'Print Media Technology and Management',
       'Creative and Cultural Industries',
       'English, Media and Cultural Studies', 'Arts Management',
       'Business Studies - Entrepreneurship and Management',
       'Visual Communication Design', 'Art',
       '3D Design, Modelmaking and Digital Art',
       'Design for Stage and Screen (Costume Design)',
       'Design for Stage and Screen (Makeup Design)',
       'Design for Stage and Screen (Production Design)', 'Animation',
       'Film and Television Production', 'Creative Media Technologies',
       'Creative Computing', 'New Media Studies',
       'Creative Music Production', 'Business Studies (Cork)',
       'Accounting and Finance (Cork)', 'Computing Science (Cork)',
       'Business Studies (Limerick)',
       'Business Studies - (HRM, Limerick)',
       'International Hospitality Management (Limerick)',
       'Business Studies (Dublin)', 'Accounting and Finance (Dublin)',
       'Business Studies (HRM, Dublin)', 'Law (Dublin)',
       'International Hospitality Management (Dublin)',
       'Business Studies (Marketing, Dublin)',
       'Computing Science (Dublin)',
       'Journalism and Visual Media (Dublin)',
       'Design Communication (Dublin)', 'Interior Architecture (Dublin)',
       'Fashion Design (Dublin)', 'Business Studies with Chinese',
       'Business and Information Technology',
       'Computing (Information Technology)',
       'Applied Social Studies in Social Care',
       'Engineering (Common Entry with Award options)',
       'Business (Common Entry with Award options)',
       'Sports Management and Coaching', 'Horticulture',
       'Community and Youth Development',
       'Computer Engineering in Mobile Systems',
       'Early Childhood Care and Education',
       'Digital Forensics and Cyber Security',
       'Design,Technology and Innovation',
       'Advertising and Marketing Communications',
       'International Hospitality and Tourism Management',
       'Botanical Cuisine', 'Digital Marketing Technologies',
       'Management', 'Marketing Management', 'Biomedical Design',
       'Automation Engineering', 'Engineering Software',
       'Pharmaceutical Science', 'Computing with IT Management',
       'DNA and Forensic Analysis', 'Sports Science and Health',
       'Computing with Language (French/German/Spanish)',
       'Computing with Data Analytics',
       'First Year Art & Design (Common Entry)',
       'Graphic Design and Moving Image Design',
       'Textile & Surface Design and Jewellery & Objects',
       'Education & Design or Fine Art (Second Level Teaching)',
       'Fashion Design', 'Visual Culture', 'Illustration',
       'Interaction Design', 'Computing (Degree Award options)',
       'Marketing Practice',
       'Technology Management (with specialisations)',
       'Medicine - Undergraduate Entry (HPAT required)', 'Physiotherapy',
       'Medicine - Graduate Entry (GAMSAT required)', 'History',
       'Philosophy', 'Clinical Speech and Language Studies',
       'Music Education', 'History and Political Science',
       'Philosophy, Political Science, Economics and Sociology',
       'Deaf Studies', 'Law and German', 'Law and Political Science',
       'Classics, Ancient History and Archaeology',
       'Early and Modern Irish', 'English Studies', 'European Studies',
       'Drama and Theatre Studies',
       'Ancient and Medieval History and Culture',
       'Political Science and Geography', 'Mathematics',
       'Management Science and Information Systems Studies',
       'Theoretical Physics', 'Engineering with Management',
       'Computer Science and Language',
       'Middle Eastern and European Languages and Cultures', 'Religion',
       'Medicine (HPAT required)', 'Dental Science', 'Radiation Therapy',
       'Human Health and Disease', 'Biological and Biomedical Sciences',
       'Geography and Geoscience', 'Physical Sciences', 'Global Business',
       'Business, Economic and Social Studies (BESS)',
       'Computer Science and Business', 'Sociology and Social Policy',
       'Social Studies (Social Work)', 'Business Studies and French',
       'Business Studies and German', 'Business Studies and Russian',
       'Business Studies and Polish', 'Business Studies and Spanish',
       "General Nursing (Meath and St James's)",
       'General Nursing (Adelaide School of Nursing)', 'Architecture',
       'Landscape Architecture', 'City Planning and Environmental Policy',
       'Computer Science (Common Entry)',
       'Actuarial and Financial Studies',
       'Agricultural Science (options)', 'Dairy Business',
       'Agri - Environmental Sciences', 'Human Nutrition', 'Forestry',
       'Horticulture, Landscape and Sportsturf Management',
       'Veterinary Medicine - Undergraduate Entry',
       'Veterinary Medicine - Graduate Entry', 'Veterinary Nursing',
       'Radiography', 'Radiography - Graduate Entry',
       'Health and Performance Science', 'Sport and Exercise Management',
       'Biomedical, Health and Life Sciences', 'Arts (Two Subjects)',
       'Humanities (options)', 'Modern Languages (options)',
       'Law (options)', 'Commerce International (options)',
       'Social Sciences (options)', 'Economics',
       'Social Policy and Sociology', 'Computing in Games Development',
       'Computing in Software Development', 'Building Surveying', 'Arts',
       'Creative Media', 'Audio and Music Production',
       'Early Childhood Studies', 'Health and Physical Activity',
       'Agriculture (Award options)', 'Science (Award options)',
       'Marketing and Sales', 'Finance and Economics',
       'Business with Entrepreneurship',
       'Rural Enterprise and Agri-Business (Mountbellew Campus)',
       'Film and Documentary', 'Heritage Studies', 'Contemporary Art',
       'Design', 'International Hotel Management',
       'International Tourism Management',
       'Culinary and Gastronomic Science',
       'Event Management with Public Relations', 'Retail Management',
       'Software and Electronic Engineering', 'Energy Engineering',
       'Agricultural Engineering',
       'Engineering (Common entry to Agri/Biomed/Energy/Mech Eng)',
       'Applied Freshwater and Marine Biology',
       'Applied Biology and Biopharmaceutical Science',
       'Chemical and Pharmaceutical Science',
       'Physics and Instrumentation', 'Science (Undenominated)',
       'Medical Science', 'Forensic Science and Analysis',
       'Computing and Digital Media',
       'Agriculture and Environmental Management (Mountbellew Campus)',
       'Sport and Exercise Science', 'General Nursing - Mayo Campus',
       'Psychiatric Nursing - Mayo Campus',
       'Outdoor Education - Mayo Campus',
       'History and Geography - Mayo Campus',
       'Applied Social Care - Mayo Campus',
       'Early Childhood Care and Education - Mayo Campus',
       'Education (Design Graphics and Construction) - Letterfrack Campus',
       'Furniture Design and Manufacture - Letterfrack Campus',
       'Furniture and Wood Technology - Letterfrack Campus',
       'Arts (Joint-Honours)', 'Arts (Psychology)', 'Arts (History)',
       'Na Dána (Gaeilge agus Léann an Aistriúcháin)',
       'Arts (Mathematics and Education)', "Arts with Children's Studies",
       'Arts with Creative Writing', 'Arts with Film Studies',
       'Arts with Human Rights', 'Arts with Performing Arts Studies',
       'Arts (Drama, Theatre and Performance Studies)',
       'Arts (Child, Youth and Family: Policy and Practice)',
       "Arts (Children's Studies)", 'Na Dána (Cumarsáid agus Gaeilge) ',
       'BSc (Applied Social Sciences)', 'Arts (Arts with Data Science)',
       'Arts (Digital Arts and Technology)',
       'Arts (English and Media Studies)',
       'Arts (Film and Digital Media)', 'Arts (Global Languages)',
       'Arts (International)', 'Arts (Music)',
       'Arts (History and Globalisation Studies)',
       'Government (Politics, Economics and Law)',
       'Education (Computer Science and Mathematical  Studies)',
       'Commerce (International) with Spanish',
       "Business Information Systems (Work Placement & Optional Int'l Study)",
       'Commerce (Accounting) including optional Global Experience year',
       'Commerce (Gaeilge)', 'Commerce (Global Experience)',

In [115]:
len(df2019.Title.unique())

719

In [118]:
df2019['Mid_2019'].to_frame()

      Mid_2019
Code
AL801      328
AL802      306
AL803      337
AL805      442
AL810      349
...        ...
WD200      296
WD210      329
WD211      322
WD212      311
WD230      348

[930 rows x 1 columns]

### 2018 Courses

In [119]:
df2018.Title.unique()

array(['Software Design (Game Development or Cloud Computing) ',
       'Quantity Surveying ', 'Mechanical and Polymer Engineering ',
       'General Nursing ', 'Psychiatric Nursing ',
       'Health Science with Nutrition ',
       'Sports Science with Exercise Physiology ', 'Biotechnology ',
       'Microbiology ', 'Pharmaceutical Science ',
       'Athletic and Rehabilitation Therapy ', 'Bioveterinary Science ',
       'Physical Activity and Health Science ',
       'Toxicology and Analytical Science ', 'Business ',
       'Business and Law ', 'Accounting (with optional placement) ',
       'Accounting and Law ',
       'Hospitality Management (with International Placement) ',
       'Social Care Practice ',
       'Animation and Illustration (Portfolio /Interview Required) ',
       'Applied Psychology (4 year programme) ',
       'Business (with options - Wexford) ',
       'Early Childhood Education and Care (Wexford) ',
       'Art (Portfolio - Wexford) ',
       'Applied Social Studies - Professional Social Care (Wexford) ',
       'Sustainable Farm Management and Agribusiness (Wexford) ',
       'Visual Communications and Design (Wexford) ',
       'Biosciences (with options) ', 'Sport Science (with options) ',
       'Sport Rehabilitation and Athletic Therapy ',
       'Computer Games Development ', 'Software Development ',
       'Information Technology Management ',
       'Cybercrime and IT Security ',
       'Construction (with options QSY/FBS) ',
       'Architectural Technology ', 'Civil Engineering ',
       'Mechanical Engineering ', 'Electronic Systems ',
       'Aerospace Engineering ', 'TV and Media Production ', 'Law - LLB ',
       'Product Design Innovation ',
       'Early Childhood Education and Care ',
       'Applied Social Studies - Professional Social Care ',
       'Media and Public Relations ',
       'Sport Management and Coaching (with options - Portfolio required) ',
       'Business (with options) ', 'Business with Law ', 'Accounting ',
       'Citizenship and Community Studies ',
       'Humanities (fulfils Teaching Council requirements) ',
       'English and History (fulfils Teaching Council requirements) ',
       'Chemical and Biopharmaceutical Engineering ',
       'Structural Engineering ', 'Creative Digital Media ',
       'Computer Systems ', 'Music at CIT Cork School of Music ',
       'Popular Music: Electric Bass Guitar at CIT Cork School of Music ',
       'Popular Music: Drums at CIT Cork School of Music ',
       'Popular Music: Electric Guitar at CIT Cork School of Music ',
       'Popular Music: Keyboards at CIT Cork School of Music ',
       'Popular Music: Voice at CIT Cork School of Music ',
       'Business Information Systems ',
       'Contemporary Applied Art (Ceramics, Glass, Textiles) at CIT Crawford ',
       'Fine Art at CIT Crawford College of Art and Design ',
       'Physical Sciences (Common Entry) ', 'IT Management ',
       'Web Development ',
       'Biomedical Science - Offered jointly by CIT and UCC ',
       'Pharmaceutical Biotechnology ', 'Nutrition and Health Science ',
       'Biological Sciences (Common Entry) ',
       'Analytical Chemistry with Quality Assurance ',
       'Instrument Engineering ',
       'Environmental Science and Sustainable Technology ', 'Marketing ',
       'International Business with Language ',
       'Engineering (Common Entry) ', 'Sustainable Energy Engineering ',
       'Biomedical Engineering ', 'Interior Architecture ',
       'Construction Management ', 'Electrical Engineering ',
       'Electronic Engineering ', 'Visual Communications ',
       'Tourism Management ',
       'Theatre and Drama Studies at CIT Cork School of Music ',
       'Arts - 3 years ', 'Social Science ',
       'Arts with Music - 3 or 4 years (BMus or Chinese/European/Int`l Pathway) ',
       'Film and Screen Media - 3 or 4 years (International Pathway) ',
       'Geographical and Archaeological Sciences - 3 or 4 years (Int`l Pathway) ',
       'Arts International - 4 years ',
       'English - 3 years or 4 years (International Pathway) ',
       'World Languages ', 'Early Years and Childhood Studies ',
       'Drama and Theatre Studies - 3 or 4 years (International Pathway) ',
       'Criminology - 3 years or 4 years (International Pathway) ',
       'Social Science (Youth and Community Work) - 3 years ',
       'Social Work - Mature Applicants only ',
       'Sports Studies and Physical Education ',
       'Economics (Transformational Learning) - 3 or 4 years (Int`l Pathway) ',
       'Digital Humanities and IT - 3 or 4 years (Work Exp. or Int`l Pathway) ',
       'Applied Psychology ',
       'Psychology and Computing - 3 or 4 years (Work Experience Pathway) ',
       'Commerce ', 'Finance ', 'Commerce (International) with French ',
       'Commerce (International) with German ',
       'Commerce (International) with Italian ',
       'Commerce (International) with Hispanic Studies ',
       'Commerce (International) with Irish ', 'Government ',
       'Commerce (International) with Chinese Studies ',
       'Law (Pathways) - 3 or 4 years (Degree options) ',
       'Law and French ', 'Law and Irish ', 'Law and Business ',
       'Computer Science (Degree options) ',
       'Biological and Chemical Sciences (Degree options) ',
       'Biological, Earth and Environmental Sciences (Degree options) ',
       'Genetics ', 'Chemical Sciences (Degree options) ',
       'Mathematical Sciences (Degree options) ',
       'Physics and Astrophysics (Degree options) ',
       'Industrial Physics - Offered jointly by UCC and CIT ',
       'Data Science and Analytics ',
       'Food Marketing and Entrepreneurship ', 'Nutritional Sciences ',
       'Food Science ', 'International Development and Food Policy ',
       'Engineering (Degree options) ',
       'Architecture - Offered jointly by UCC and CIT ',
       'Medicine (Undergraduate Entry) ', 'Dentistry ', 'Pharmacy ',
       'Occupational Therapy ', 'Speech and Language Therapy ',
       'Public Health Sciences ', 'Medical and Health Sciences ',
       'Children`s and General Nursing (Integrated) ',
       'Mental Health Nursing ', 'Intellectual Disability Nursing ',
       'Midwifery ', 'Medicine (Graduate Entry) ',
       'International Business ', 'Liberal Arts ',
       'Information Technology ', 'Education - Primary Teaching ',
       'Education - Primary Teaching - Gaeltacht Applicants ',
       'Education Studies ', 'Early Childhood Education ', 'Computing ',
       'Computing (Cloud Computing) ',
       'Computing (Data Analytics and Big Data) ',
       'Computing (Software Development) ',
       'Computing (Web and Mobile Technology) ', 'Business Studies ',
       'Business Studies (Law) ',
       'Business Studies (Human Resource Management) ',
       'Financial Services ', 'Marketing (Event Management) ',
       'Marketing (Digital Media) ',
       'Business Studies (with work placement) ',
       'Accounting and Finance ',
       'Marketing (Digital Media and Cloud Computing) ',
       'Business Information Systems (Cloud Computing) ', 'Psychology ',
       'Film ', 'Law ', 'Business (Psychology) ',
       'Education - Early Childhood Education ',
       'Education - Primary Teaching (Church of Ireland Centre formerly CICE) ',
       'Arts (Joint Honours) - Humanities ',
       'Post Primary Teacher Education - Religious Education and English ',
       'Post Primary Teacher Education - Religious Education and History ',
       'Post Primary Teacher Education - Religious Education and Music ',
       'BA in Jazz and Contemporary Music Performance (Audition) ',
       'Business Studies International ', 'Global Business (France) ',
       'Global Business (Germany) ', 'Global Business (Spain) ',
       'Global Business (USA) ',
       'Aviation Management / Aviation Management with Pilot Studies ',
       'Gnó agus Gaeilge / Business and Irish ',
       'Global Business (Canada) ', 'Enterprise Computing ',
       'Computer Applications ', 'Data Science ',
       'Actuarial Mathematics ',
       'Common Entry into Actuarial and Financial Mathematics ',
       'Communication Studies ', 'Journalism ', 'Multimedia ',
       'Applied Language and Translation Studies ', 'Analytical Science ',
       'Chemical and Pharmaceutical Sciences ',
       'Environmental Science and Technology ', 'Physics with Astronomy ',
       'Genetics and Cell Biology ', 'Applied Physics ',
       'Physics with Biomedical Sciences ',
       'Electronic and Computer Engineering (choice of four majors) ',
       'Mechatronic Engineering ',
       'Mechanical and Manufacturing Engineering ',
       'Common Entry into Engineering (Undenominated Entry) ',
       'Common Entry into Science (Undenominated Entry) ',
       'Sport Science and Health ', 'Science Education ',
       'Athletic Therapy and Training ',
       'Physical Education with Biology ',
       'Physical Education with Mathematics ', 'Health and Society ',
       'Economics, Politics and Law ', 'International Relations ',
       'Law and Society (BCL) ',
       'Education and Training - Daytime Delivery Mode ',
       'Social Sciences and Cultural Innovation ',
       'Gaeilge agus Iriseoireacht/Irish and Journalism ',
       'Marketing, Innovation and Technology ',
       'Arts (Joint Honours) - Media Studies ',
       'Arts (Joint Honours) - Law ',
       'Arts (Joint Honours) - International Languages ',
       'Arts (Joint Honours) - Politics ', 'Product Design ',
       'Transport Operations and Technology ',
       'Electrical Services and Energy Management ',
       'Engineering (General Entry) ',
       'Architecture (Test and Interview) ',
       'Planning and Environmental Management ', 'Property Economics ',
       'Quantity Surveying and Construction Economics ',
       'Geographic Science ', 'Science (General Entry) ',
       'Forensic and Environmental Chemistry ', 'Biomedical Science ',
       'Mathematical Sciences ', 'Biomedical and Molecular Diagnostics ',
       'Computer Science (Infrastructure) ', 'Industrial Mathematics ',
       'Physics with Energy and Environment ', 'Physics Technology ',
       'Human Nutrition and Dietetics ', 'Optometry ',
       'Public Health Nutrition ', 'Science with Nanotechnology ',
       'Computer Science ', 'Clinical Measurement Science ',
       'Physics with Medical Physics and Bioengineering ',
       'Information Systems and IT (Leaving Certificate 3 Years Prior) ',
       'Computer Science (International) ',
       'Chemical Sciences with Medicinal Chemistry ',
       'Business Analytics ', 'E-Commerce in Retailing ',
       'Retail and Services Management ', 'Business Computing ',
       'Logistics and Supply Chain Management ',
       'Business and Management ', 'Human Resource Management ',
       'Economics and Finance ', 'International Hospitality Management ',
       'Culinary Science ', 'Culinary Arts ', 'Tourism Marketing ',
       'Event Management ', 'Culinary Entrepreneurship ',
       'Nutraceuticals in Health and Nutrition ', 'Food Innovation ',
       'Pharmaceutical Healthcare ', 'Environmental Health ', 'Music ',
       'Film and Broadcasting ', 'Commercial Modern Music ',
       'Game Design ', 'Languages and English Studies ',
       'Languages and International Tourism ', 'Drama (Performance) ',
       'Law (LL.B.) ', 'Contemporary Visual Culture ', 'Interior Design ',
       'Design - Visual Communication ', 'Fine Art ',
       'International Business and Languages ', 'Photography ',
       'Social Care ', 'Print Media Technology and Management ',
       'Creative and Cultural Industries ',
       'English, Media and Cultural Studies ', 'Arts Management ',
       'Business Studies - Entrepreneurship and Management ',
       'Visual Communication Design ', 'Art ',
       '3D Design, Modelmaking and Digital Art ',
       'Design for Stage and Screen (Costume Design) ',
       'Design for Stage and Screen (Makeup Design) ',
       'Design for Stage and Screen (Production Design) ', 'Animation ',
       'Film and Television Production ', 'Creative Media Technology ',
       'Creative Computing ', 'New Media Studies ',
       'Creative Music Production ', 'Business Studies (Cork) ',
       'Accounting and Finance (Cork) ', 'Computing Science (Cork) ',
       'Business Studies (Limerick) ',
       'Business Studies (HRM - Limerick) ',
       'International Hospitality Management (Limerick) ',
       'Business Studies (Dublin) ', 'Accounting and Finance (Dublin) ',
       'Business Studies (HRM - Dublin) ', 'Law (Dublin) ',
       'International Hospitality Management (Dublin) ',
       'Business Studies (Marketing - Dublin) ',
       'Computing Science (Dublin) ',
       'Computing Science (Cloud Computing - Dublin) ',
       'Computing Science (Software Development - Dublin) ',
       'Computing Science (Network Management - Dublin) ',
       'Computing Science (Games Development - Dublin) ',
       'Journalism and Visual Media (Dublin) ',
       'Design Communication (Portfolio required - Dublin) ',
       'Interior Architecture (Portfolio required - Dublin) ',
       'Fashion Design (Portfolio required - Dublin) ',
       'Business Studies with Chinese ',
       'Business and Information Technology ',
       'Computing (Information Technology) ',
       'Applied Social Studies in Social Care ',
       'Engineering (Common Entry with Award options) ',
       'Business (Common Entry with Award options) ',
       'Sports Management and Coaching ', 'Horticulture ',
       'Community and Youth Development ',
       'Computer Engineering in Mobile Systems ',
       'Early Childhood Care and Education ', 'Digital Marketing ',
       'Digital Forensics and Cyber Security ',
       'Advertising and Marketing Communications ',
       'International Hospitality and Tourism Management ', 'Management ',
       'Marketing Management ',
       'Sustainable Energy and Environmental Engineering ',
       'Biomedical Design ', 'Automation Engineering ',
       'Engineering Software ', 'DNA and Forensic Analysis ',
       'Sports Science and Health ',
       'Computing with Language (French/German/Spanish) ',
       'Data Analytics ',
       'First Year Art & Design (Common Entry) (Portfolio ) ',
       'Illustration and Graphic Design (Portfolio ) ',
       'Textiles, Jewellery & Objects (Portfolio ) ',
       'Design or Fine Art & Education - Second Level Teaching (Portfolio ) ',
       'Fine Art (Portfolio ) ', 'Fashion Design (Portfolio ) ',
       'Product Design (Portfolio ) ', 'Visual Culture ',
       'Interaction Design (Portfolio ) ', 'Marketing Practice ',
       'Technology Management ', 'Medicine - Undergraduate Entry ',
       'Physiotherapy ', 'Medicine - Graduate Entry ', 'History ',
       'Philosophy ', 'Clinical Speech and Language Studies ',
       'World Religions and Theology ', 'Music Education ',
       'History and Political Science ',
       'Philosophy, Political Science, Economics and Sociology ',
       'Deaf Studies ', 'Law and German ', 'Law and Political Science ',
       'Classics ', 'Early and Modern Irish ', 'English Studies ',
       'European Studies ', 'Drama and Theatre Studies ',
       'Ancient and Medieval History and Culture ',
       'Political Science and Geography ', 'Mathematics ', 'Engineering ',
       'Management Science and Information Systems Studies ',
       'Theoretical Physics ', 'Engineering with Management ',
       'Computer Science and Language ',
       'Middle Eastern and European Languages and Cultures ', 'Medicine ',
       'Dental Science ', 'Radiation Therapy ',
       'Human Health and Disease ', 'Biological and Biomedical Sciences ',
       'Chemical Sciences ', 'Geography and Geoscience ',
       'Physical Sciences ', 'Global Business ',
       'Business, Economic and Social Studies (BESS) ',
       'Computer Science and Business ', 'Sociology and Social Policy ',
       'Social Studies (Social Work) ', 'Business Studies and French ',
       'Business Studies and German ', 'Business Studies and Russian ',
       'Business Studies and Polish ', 'Business Studies and Spanish ',
       'General Nursing (Meath and St James`s) ',
       'General Nursing (Adelaide School of Nursing) ', 'Architecture ',
       'Landscape Architecture ',
       'City Planning and Environmental Policy ', 'Science ',
       'Actuarial and Financial Studies ', 'Agricultural Science ',
       'Dairy Business ', 'Agri - Environmental Sciences ',
       'Human Nutrition ', 'Forestry ',
       'Horticulture, Landscape and Sportsturf Management ',
       'Veterinary Medicine - Undergraduate Entry ',
       'Veterinary Medicine - Graduate Entry ', 'Veterinary Nursing ',
       'Radiography ', 'Health and Performance Science ',
       'Sport and Exercise Management ',
       'Biomedical, Health and Life Sciences ', 'Arts (Two subjects) ',
       'Humanities ', 'Modern Languages ', 'Commerce International ',
       'Social Sciences ', 'Economics ', 'Social Policy and Sociology ',
       'Business Studies (Years 1 & 2 at Monaghan Inst. and final year at DKIT) ',
       'Computing in Games Development ', 'Building Surveying ',
       'Engineering (Common Entry with Award Options) ', 'Applied Music ',
       'Digital Humanities ', 'Communications in Creative Media ',
       'Production of Music and Audio ', 'Early Childhood Studies ',
       'Health and Physical Activity ', 'Environmental Bioscience ',
       'Agriculture (Award Options) ',
       'Science (Common Entry with Award Options) ',
       'Multimedia Web Development ', 'Marketing and Sales ',
       'Finance and Economics ', 'Business with Entrepreneurship ',
       'Rural Enterprise and Agri-Business - Mountbellew Campus ',
       'Film and Documentary ', 'Heritage Studies ', 'Contemporary Art ',
       'Design ', 'International Hotel Management ',
       'International Tourism Management ',
       'Culinary and Gastronomic Science ',
       'Event Management with Public Relations ', 'Retail Management ',
       'Software and Electronic Engineering ', 'Energy Engineering ',
       'Agricultural Engineering ',
       'Engineering (Common entry to Agri/Biomed/Energy/Mech Eng) ',
       'Applied Freshwater and Marine Biology ',
       'Applied Biology and Biopharmaceutical Science ',
       'Chemical and Pharmaceutical Science ',
       'Physics and Instrumentation ', 'Science (Undenominated) ',
       'Medical Science ', 'Forensic Science and Analysis ',
       'Computing in Software Development ',
       'Computing and Digital Media ',
       'Agriculture and Environmental Management - Mountbellew Campus ',
       'Sport and Exercise Science ', 'General Nursing - Mayo Campus ',
       'Psychiatric Nursing - Mayo Campus ',
       'Outdoor Education - Mayo Campus ', 'Business - Mayo Campus ',
       'History and Geography - Mayo Campus ',
       'Sustainable Building Technology - Mayo Campus ',
       'Applied Social Care - Mayo Campus ',
       'Education (Design Graphics and Construction) - Letterfrack Campus ',
       'Furniture Design and Manufacture - Letterfrack Campus ',
       'Furniture and Wood Technology - Letterfrack Campus ',
       'Arts Joint Honours Degree ', 'Arts (Public and Social Policy) ',
       'Arts (Psychology) ', 'Arts (History) ',
       'Na Dána (Gaeilge agus Léann an Aistriúcháin) ',
       'Arts (Mathematics and Education) ',
       'Arts with Children`s Studies ', 'Arts with Creative Writing ',
       'Arts with Film Studies ', 'Arts with Human Rights ',
       'Arts with Performing Arts Studies ',
       'Arts (Drama, Theatre and Performance Studies) ',
       'Arts with Journalism ',
       'Arts (Child, Youth and Family: Policy and Practice) ',
       'Arts (Children`s Studies) ',
       'Na Dána (Cumarsáid agus Gaeilge) ',
       'BSc (Applied Social Sciences) ', 'Arts (Arts with Data Science) ',
       'Arts (Digital Arts and Technology) ',

In [120]:
len(df2018.Title.unique())

702

In [121]:
df2018['Mid_2018'].to_frame()

        Mid_2018
Code
AL801      326.0
AL810      340.0
AL820      371.0
AL830      440.0
AL832      388.0
...          ...
WD197      329.0
WD200      299.0
WD210      327.0
WD211      326.0
WD212      338.0

[903 rows x 1 columns]

### 2017 Courses

In [122]:
df2017.Title.unique()

array(['Software Design (Game Development or Cloud Computing) ',
       'Quantity Surveying ', 'Mechanical and Polymer Engineering ',
       'General Nursing ', 'Psychiatric Nursing ',
       'Health Science with Nutrition ',
       'Sports Science with Exercise Physiology ', 'Biotechnology ',
       'Microbiology ', 'Pharmaceutical Science ',
       'Athletic and Rehabilitation Therapy ', 'Bioveterinary Science ',
       'Physical Activity and Health ', 'Business ', 'Business and Law ',
       'Accounting (with optional placement) ', 'Accounting and Law ',
       'Business Psychology ', 'Social Care Practice ',
       'Animation and Illustration (Portfolio and Interview Required) ',
       'Business (Wexford) ',
       'Early Childhood Education and Care (Wexford) ',
       'Art (Wexford - Portfolio) ',
       'Applied Social Studies - Professional Social Care (Wexford) ',
       'Sustainable Farm Management and Agribusiness (Wexford) ',
       'Visual Communications and Design (Wexford) ', 'Science ',
       'Sport Science ', 'Sport Rehabilitation and Athletic Therapy ',
       'Strength and Conditioning ', 'Computer Games Development ',
       'Software Development ', 'Information Technology Management ',
       'Cybercrime and IT Security ', 'Construction ',
       'Architectural Technology ', 'Civil Engineering ',
       'Mechanical Engineering ', 'Electronic Systems ',
       'Aerospace Engineering ', 'TV and Media Production ', 'Law - LLB ',
       'Product Design Innovation ',
       'Early Childhood Education and Care ',
       'Applied Social Studies - Professional Social Care ',
       'Youth and Community Work (Interview) ',
       'Media and Public Relations ',
       'Sport Management and Coaching (GAA/Rugby/Soccer - Portfolio) ',
       'Business with Law ', 'Accounting ',
       'Citizenship and Community Studies ', 'Humanities ',
       'English and History ',
       'Chemical and Biopharmaceutical Engineering ',
       'Structural Engineering ', 'Creative Digital Media ',
       'Computer Systems ', 'Music at CIT Cork School of Music ',
       'Popular Music: Electric Bass Guitar at CIT Cork School of Music ',
       'Popular Music: Drums at CIT Cork School of Music ',
       'Popular Music: Electric Guitar at CIT Cork School of Music ',
       'Popular Music: Keyboards at CIT Cork School of Music ',
       'Popular Music: Voice at CIT Cork School of Music ',
       'Business Information Systems ',
       'Contemporary Applied Art (Ceramics, Glass, Textiles) at CIT Crawford ',
       'Fine Art at CIT Crawford College of Art and Design ',
       'Physical Sciences (Common Entry) ', 'IT Management ',
       'Web Development ',
       'Biomedical Science - Offered jointly by CIT and UCC ',
       'Pharmaceutical Biotechnology ', 'Herbal Science ',
       'Nutrition and Health Science ',
       'Biological Sciences (Common Entry) ',
       'Analytical Chemistry with Quality Assurance ',
       'Instrument Engineering ',
       'Environmental Science and Sustainable Technology ', 'Marketing ',
       'International Business with Language ',
       'Engineering (Common Entry) ', 'Sustainable Energy Engineering ',
       'Biomedical Engineering ', 'Interior Architecture ',
       'Construction Management ', 'Electrical Engineering ',
       'Electronic Engineering ', 'Visual Communications ',
       'Tourism Management ',
       'Theatre and Drama Studies at CIT Cork School of Music ', 'Arts ',
       'Social Science ', 'Arts with Music ', 'Film and Screen Media ',
       'Applied Psychology ', 'Geographical and Archaeological Sciences ',
       'Arts International ', 'English ', 'World Languages ',
       'Early Years and Childhood Studies ', 'Drama and Theatre Studies ',
       'Criminology ', 'Social Science (Youth and Community Work) ',
       'Social Work - Mature Applicants only ',
       'Sports Studies and Physical Education ',
       'Economics (through Transformational Learning) ',
       'Digital Humanities and Information Technology ', 'Commerce ',
       'Finance ', 'Commerce (International) with French ',
       'Commerce (International) with German ',
       'Commerce (International) with Italian ',
       'Commerce (International) with Hispanic Studies ',
       'Commerce (International) with Irish ', 'Government ',
       'Commerce (International) with Chinese Studies ',
       'Law (Pathways) ', 'Law and French ', 'Law and Irish ',
       'Law and Business ', 'Computer Science ',
       'Biological and Chemical Sciences ',
       'Biological, Earth and Environmental Sciences ', 'Genetics ',
       'Chemical Sciences ', 'Mathematical Sciences ',
       'Physics and Astrophysics ',
       'Industrial Physics - Offered jointly by UCC and CIT ',
       'Food Marketing and Entrepreneurship ', 'Nutritional Sciences ',
       'Food Science ', 'International Development and Food Policy ',
       'Engineering ', 'Architecture - Offered jointly by UCC and CIT ',
       'Medicine (Undergraduate Entry) ', 'Dentistry ', 'Pharmacy ',
       'Occupational Therapy ', 'Speech and Language Therapy ',
       'Public Health Sciences ',
       'Children`s and General Nursing (Integrated) ',
       'Mental Health Nursing ', 'Intellectual Disability Nursing ',
       'Midwifery ', 'Medicine (Graduate Entry) ',
       'International Business ', 'Liberal Arts ',
       'Information Technology ', 'Education - Primary Teaching ',
       'Education - Primary Teaching - Gaeltacht Applicants ',
       'Education Studies ', 'Early Childhood Education ', 'Computing ',
       'Computing (Cloud Computing) ',
       'Computing (Data Analytics and Big Data) ',
       'Computing (Software Development) ',
       'Computing (Web and Mobile Computing) ', 'Business Studies ',
       'Business Studies (Law) ',
       'Business Studies (Human Resource Management) ',
       'Financial Services ', 'Marketing (Event Management) ',
       'Marketing (Digital Media) ',
       'Business Studies (with work placement) ',
       'Accounting and Finance ',
       'Marketing (Digital Media and Cloud Computing) ',
       'Business Information Systems (Cloud Computing) ', 'Psychology ',
       'Journalism ', 'Film ', 'Law ', 'Business (Psychology) ',
       'Education - Early Childhood Education ',
       'Education - Primary Teaching (Church of Ireland Centre formerly CICE) ',
       'Arts (Joint Honours) - Humanities ',
       'Post Primary Teacher Education - Religious Education and English ',
       'Post Primary Teacher Education - Religious Education and History ',
       'Post Primary Teacher Education - Religious Education and Music ',
       'Jazz and Contemporary Music Performance (Audition) ',
       'Business Studies International ', 'Global Business (France) ',
       'Global Business (Germany) ', 'Global Business (Spain) ',
       'Global Business (USA) ',
       'Aviation Management / Aviation Management with Pilot Studies ',
       'Gnó agus Gaeilge / Business and Irish ',
       'Global Business (Canada) ', 'Enterprise Computing ',
       'Computer Applications ', 'Data Science ',
       'Actuarial Mathematics ',
       'Common Entry into Actuarial and Financial Mathematics ',
       'Communication Studies ', 'Multimedia ',
       'Applied Language and Translation Studies ', 'Analytical Science ',
       'Chemical and Pharmaceutical Sciences ',
       'Environmental Science and Technology ', 'Physics with Astronomy ',
       'Genetics and Cell Biology ', 'Applied Physics ',
       'Physics with Biomedical Sciences ',
       'Electronic and Computer Engineering (with choice of four majors) ',
       'Mechatronic Engineering ',
       'Mechanical and Manufacturing Engineering ',
       'Common Entry into Engineering (Undenominated Entry) ',
       'Common Entry into Science (Undenominated Entry) ',
       'Sport Science and Health ', 'Science Education ',
       'Athletic Therapy and Training ',
       'Physical Education with Biology ',
       'Physical Education with Mathematics ', 'Health and Society ',
       'Children’s and General Nursing (Integrated) ',
       'Economics, Politics and Law ', 'International Relations ',
       'Law and Society (BCL) ',
       'Education and Training - Daytime or Flexible Delivery Mode ',
       'Contemporary Culture and Society ',
       'Gaeilge agus Iriseoireacht/Irish and Journalism ',
       'Marketing, Innovation and Technology ',
       'Arts (Joint Honours) - Media Studies ',
       'Arts (Joint Honours) - Law ',
       'Arts (Joint Honours) - International Languages ',
       'Arts (Joint Honours) - Politics ', 'Product Design ',
       'Transport Operations and Technology ',
       'Electrical Services and Energy Management ',
       'Engineering (General Entry) ', 'Architecture ',
       'Planning and Environmental Management ',
       'Property Economics (Valuation Surveying) ',
       'Quantity Surveying and Construction Economics ',
       'Geographic Science ', 'Science (General Entry) ',
       'Forensic and Environmental Chemistry ', 'Biomedical Science ',
       'Biomedical and Molecular Diagnostics ',
       'Computer Science (Infrastructure) ', 'Industrial Mathematics ',
       'Physics with Energy and Environment ', 'Physics Technology ',
       'Human Nutrition and Dietetics ', 'Optometry ',
       'Public Health Nutrition ', 'Science with Nanotechnology ',
       'Clinical Measurement Science ',
       'Physics with Medical Physics and Bioengineering ',
       'Information Systems and Information Technology ',
       'Computer Science (International) ',
       'Chemical Sciences with Medicinal Chemistry ',
       'Business Analytics ', 'Retail and Services Management ',
       'Business Computing ', 'Logistics and Supply Chain Management ',
       'Business and Management ', 'Human Resource Management ',
       'Economics and Finance ', 'International Hospitality Management ',
       'Culinary Science ', 'Culinary Arts ', 'Tourism Marketing ',
       'Event Management ', 'Culinary Entrepreneurship ',
       'Bar and Beverage Management and Entrepreneurship ',
       'Nutraceuticals in Health and Nutrition ', 'Food Innovation ',
       'Pharmaceutical Healthcare ', 'Environmental Health ', 'Music ',
       'Film and Broadcasting ', 'Commercial Modern Music ',
       'Game Design ', 'Languages and English Studies ',
       'Languages and Intl Tourism (Chinese/French/German/Irish/Italian/Spanish) ',
       'Drama (Performance) ', 'Law (LLB) ',
       'Contemporary Visual Culture ', 'Interior Design ',
       'Design - Visual Communication ', 'Fine Art ',
       'Intl Business & Languages (Chinese/French/German/Irish/Italian/Spanish) ',
       'Photography ', 'Social Care ',
       'Print and Digital Media Technology Management ',
       'Creative and Cultural Industries ',
       'English, Media and Cultural Studies ', 'Arts Management ',
       'Business Studies - Entrepreneurship and Management ',
       'Visual Communication Design ', 'Art ',
       '3D Design, Modelmaking and Digital Art ',
       'Design for Stage and Screen (Costume Design) ',
       'Design for Stage and Screen (Makeup Design) ',
       'Design for Stage and Screen (Production Design) ', 'Animation ',
       'Film and Television Production ', 'Creative Media Technologies ',
       'Creative Computing ', 'New Media Studies ',
       'Business Studies (Cork) ', 'Accounting and Finance (Cork) ',
       'Computing Science (Cork) ', 'Business Studies (Limerick) ',
       'International Hospitality Management (Limerick) ',
       'Business Studies (Dublin) ', 'Accounting and Finance (Dublin) ',
       'Business Studies (HRM - Dublin) ', 'Law (Dublin) ',
       'International Hospitality Management (Dublin) ',
       'Business Studies (Marketing - Dublin) ',
       'Computing Science (Dublin) ',
       'Computing Science (Cloud Computing - Dublin) ',
       'Computing Science (Software Development - Dublin) ',
       'Computing Science (Network Management - Dublin) ',
       'Computing Science (Games Development - Dublin) ',
       'Journalism and Visual Media (Dublin) ',
       'Design Communication (Dublin - Portfolio required) ',
       'Interior Architecture (Dublin) ',
       'Fashion Design (Dublin - Portfolio required) ',
       'Business Studies with Chinese ',
       'Business and Information Technology ',
       'Computing (Information Technology) ',
       'Applied Social Studies in Social Care ',
       'Engineering (Award options: Computer Engineering, Mechatronics) ',
       'Business (Common Entry-Business,Bus with IT,Intl Bus,Acc & Fin,Dig Mktg) ',
       'Sports Management and Coaching ', 'Horticulture ',
       'Community and Youth Development ',
       'Computer Engineering in Mobile Systems ',
       'Early Childhood Care and Education ', 'Digital Marketing ',
       'Digital Forensics and Cyber Security ', 'European Studies ',
       'Advertising and Marketing Communications ',
       'International Hospitality and Tourism Management ', 'Management ',
       'Marketing Management ', 'Biomedical Design ',
       'Automation Engineering ', 'DNA and Forensic Analysis ',
       'Sports Science and Health ',
       'Computing with Language (French/German/Spanish) ',
       'Data Analytics ',
       '1st Year Art and Design (Common Entry - Matric + Portfolio) ',
       'Design or Fine Art, and Education-Second Level Teaching (Matric+Portfolio) ',
       'Product Design (Matric + Portfolio) ', 'Visual Culture ',
       'Marketing Practice ', 'Technology Management ',
       'Medicine - Undergraduate Entry ', 'Physiotherapy ',
       'Medicine - Graduate Entry ', 'History ', 'Philosophy ',
       'Clinical Speech and Language Studies ',
       'World Religions and Theology ', 'Music Education ',
       'History and Political Science ',
       'Philosophy, Political Science, Economics and Sociology ',
       'Deaf Studies ', 'Law and German ', 'Law and Political Science ',
       'Classics ', 'Early and Modern Irish ', 'English Studies ',
       'Ancient and Medieval History and Culture ',
       'Political Science and Geography ',
       'Catholic Theological Studies ', 'Mathematics ',
       'Management Science and Information Systems Studies ',
       'Theoretical Physics ', 'Engineering with Management ',
       'Computer Science and Language ',
       'Middle Eastern and European Languages and Cultures ', 'Medicine ',
       'Dental Science ', 'Radiation Therapy ',
       'Human Health and Disease ', 'Human Genetics ',
       'Chemistry with Molecular Modelling ', 'Medicinal Chemistry ',
       'Nanoscience, Physics and Chemistry of Advanced Materials ',
       'Earth Sciences ', 'Business, Economic and Social Studies (BESS) ',
       'Computer Science and Business ', 'Sociology and Social Policy ',
       'Social Studies (Social Work) ', 'Business Studies and French ',
       'Business Studies and German ', 'Business Studies and Russian ',
       'Business Studies and Polish ', 'Business Studies and Spanish ',
       'General Nursing (Meath and St James’s) ',
       'General Nursing (Adelaide School of Nursing) ',
       'Landscape Architecture ', 'Actuarial and Financial Studies ',
       'Agricultural Science ', 'Dairy Business ',
       'Agri-Environmental Sciences ', 'Human Nutrition ', 'Forestry ',
       'Horticulture, Landscape and Sportsturf Management ',
       'Veterinary Medicine - Undergraduate Entry ',
       'Veterinary Medicine - Graduate Entry ', 'Veterinary Nursing ',
       'Radiography ', 'Health and Performance Science ',
       'Sport and Exercise Management ',
       'Biomedical, Health and Life Sciences ',
       'BA Degree - joint honours ', 'Economics ', 'English with Film ',
       'Planning, Geography and Environment ', 'International Languages ',
       'Commerce International ',
       'Quantitative Business - Economics and Finance ',
       'Business Studies (Years 1 and 2 at Monaghan Institute) ',
       'Computing in Games Development ', 'Building Surveying ',
       'Engineering (Common entry) ', 'Applied Music ',
       'Digital Humanities ', 'Communications in Creative Media ',
       'Production of Music and Audio ', 'Early Childhood Studies ',
       'Health and Physical Activity ', 'Environmental Bioscience ',
       'Agriculture (2 award options: Agriculture or Agri-Food Production) ',
       'Business in Marketing and Sales ',
       'Business in Finance and Economics ',
       'Business with Entrepreneurship ',
       'Business in Rural Enterprise and Agri-Business - Mountbellew Campus ',
       'Film and Documentary ', 'Heritage Studies ', 'Contemporary Art ',
       'Design ', 'International Hotel Management ',
       'International Tourism Management ', 'Energy Engineering ',
       'Agricultural Engineering ',
       'Applied Freshwater and Marine Biology ',
       'Applied Biology and Biopharmaceutical Science ',
       'Chemical and Pharmaceutical Science ',
       'Physics and Instrumentation ', 'Science (Undenominated) ',
       'Medical Science ', 'Forensic Science and Analysis ',
       'Computing in Software Development ',
       'Computing and Digital Media ',
       'Agriculture and Environmental Management - Mountbellew Campus ',
       'Sport and Exercise Science ', 'General Nursing - Mayo Campus ',
       'Psychiatric Nursing - Mayo Campus ',
       'Outdoor Education - Mayo Campus ',
       'Business - Mayo Campus (award option in Accounting) ',
       'Applied Social Care - Mayo Campus ',
       'Education (Design Graphics and Construction) - Letterfrack Campus ',
       'Furniture Design and Manufacture - Letterfrack Campus ',
       'Furniture and Wood Technology - Letterfrack Campus ',
       'Arts Joint Honours Degree ', 'Arts (Public and Social Policy) ',
       'Arts (Psychology) ', 'Arts (History) ',
       'Na Dána (Gaeilge agus Léann an Aistriúcháin) ',
       'Arts (Mathematics and Education) ',
       'Arts with Children’s Studies ', 'Arts with Creative Writing ',
       'Arts with Film Studies ', 'Arts with Human Rights ',
       'Arts with Performing Arts Studies ',
       'Arts (Drama, Theatre and Performance Studies) ',
       'Arts with Journalism ',
       'Arts (Child, Youth and Family: Policy and Practice) ',
       'Arts (Childrens Studies) ', 'Na Dána (Cumarsáid agus Gaeilge) ',
       'BSc (Applied Social Sciences) ',
       'Commerce (International) with Spanish ', 'Commerce (Accounting) ',
       'Commerce (Gaeilge) ', 'Commerce (Global Experience) ',
       'Corporate Law - Law subjects, Commerce subjects, optional language ',
       'Civil Law - Law subjects, Commerce subjects, optional language ',
       'Business Studies (Interview - International Hotel Management - Shannon) ',
       'Commerce (Interview - International Hotel Management - Shannon) ',
       'Environmental Science ', 'Financial Mathematics and Economics ',
       'Marine Science ', 'Environmental Health and Safety ',
       'Earth and Ocean Sciences ', 'Biopharmaceutical Chemistry ',
       'Mathematical Science ',
       'Physics (Degree options: Applied, Astrophysics, Biomedical, Theoretical) ',
       'Computer Science and Information Technology ',
       'Engineering (Undenominated) ',
       'Electronic and Computer Engineering ',
       'Project and Construction Management ',
       'Energy Systems Engineering ',
       'Electrical and Electronic Engineering ',
       'Medicine (5 year/6 year and embedded PhD options) includes Mature Entry ',
       'Podiatric Medicine ', 'General Nursing (Galway and Portiuncula) ',
       'Business - Accounting ',
       'Business - with French/Spanish/German/Irish ',
       'Sport & Exercise - award options:Performance/Physical Education ',
       'Design (common entry with 4 Degree Award options) ',
       'Fire Safety Engineering ',
       'Early Childhood Care, Health and Education ',
       'Health & Social Care ', 'Contemporary & Applied Theatre Studies ',

In [123]:
len(df2017.Title.unique())

661

In [124]:
df2017['Mid_2017'].to_frame()

        Mid_2017
Code
AL801      329.0
AL810      357.0
AL820      336.0
AL830      418.0
AL832      389.0
...          ...
WD193      337.0
WD194      356.0
WD195      320.0
WD197      328.0
WD200      309.0

[865 rows x 1 columns]

In [126]:
df2019.Title.unique() == df2018['Title'].unique()

/var/folders/51/_5_9h43n1rj7z1sw9wk7030m0000gn/T/ipykernel_57361/1827007934.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df2019.Title.unique() == df2018['Title'].unique()

False

In [127]:
df2019.Title.unique() == df2017['Title'].unique()

/var/folders/51/_5_9h43n1rj7z1sw9wk7030m0000gn/T/ipykernel_57361/124354315.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df2019.Title.unique() == df2017['Title'].unique()

False

In [128]:
df2018.Title.unique() == df2017['Title'].unique()

/var/folders/51/_5_9h43n1rj7z1sw9wk7030m0000gn/T/ipykernel_57361/3234203174.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df2018.Title.unique() == df2017['Title'].unique()

False

# References
<sup>1</sup>[Central Applications Office](https://en.wikipedia.org/wiki/Central_Applications_Office)  
<sup>2</sup>[Irish Leaving Certificate Examination Points](https://www.cao.ie/index.php?page=scoring&s=lcepointsgrid)  
<sup>3</sup>[Requests:HTTP for Humans](https://docs.python-requests.org/en/latest/)  
<sup>4</sup>[Requests:Quickstart](https://docs.python-requests.org/en/latest/user/quickstart/)  
<sup>5</sup>[200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)